# Pengolahan Data dengan Python

## Sumber dan Format Data

### Relational Database

In [ ]:
import pandas as pd
import psycopg2
import os

#### Membuat koneksi ke database Postgresql

In [ ]:
# Koneksi ke postgresql dari https://uibakery.io/sql-playground
from sqlalchemy import create_engine , text
conn_string = 'postgresql://welnopljkimlajlbipwblmbz%40psql-mock-database-cloud:qvlkdlohmpmydmohytiuznls@psql-mock-database-cloud.postgres.database.azure.com:5432/cars1682436957377zjlnnaowlvcrfigs'

In [ ]:
db = create_engine(conn_string)
conn = db.connect()

#### Membuat Query untuk Menampilkan Daftar Table

In [ ]:
qry = text("SELECT * FROM information_schema.tables WHERE table_type = 'BASE TABLE'")

In [ ]:
lstables=[]
with db.connect() as conn:
    result = conn.execute(qry)
    for r in result:
      lstables.append([r[1],r[2],r[3]])

In [ ]:
lstables[:10]

[['public', 'users', 'BASE TABLE'],
 ['public', 'cars_favorites', 'BASE TABLE'],
 ['public', 'cars', 'BASE TABLE'],
 ['pg_catalog', 'pg_foreign_table', 'BASE TABLE'],
 ['pg_catalog', 'pg_subscription', 'BASE TABLE'],
 ['pg_catalog', 'pg_type', 'BASE TABLE'],
 ['pg_catalog', 'pg_attribute', 'BASE TABLE'],
 ['pg_catalog', 'pg_proc', 'BASE TABLE'],
 ['pg_catalog', 'pg_class', 'BASE TABLE'],
 ['pg_catalog', 'pg_attrdef', 'BASE TABLE']]

In [ ]:
dftable = pd.read_sql(qry,db.connect())

In [ ]:
dftable.head()

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,cars1682436957377zjlnnaowlvcrfigs,public,users,BASE TABLE,None,None,None,None,None,YES,NO,None
1,cars1682436957377zjlnnaowlvcrfigs,public,cars_favorites,BASE TABLE,None,None,None,None,None,YES,NO,None
2,cars1682436957377zjlnnaowlvcrfigs,public,cars,BASE TABLE,None,None,None,None,None,YES,NO,None
3,cars1682436957377zjlnnaowlvcrfigs,pg_catalog,pg_foreign_table,BASE TABLE,None,None,None,None,None,YES,NO,None
4,cars1682436957377zjlnnaowlvcrfigs,pg_catalog,pg_subscription,BASE TABLE,None,None,None,None,None,YES,NO,None

#### Menampilkan Daftar Kolom dari Suatu table

In [ ]:
qrycols = text("SELECT column_name,	ordinal_position,	column_default,	is_nullable,	data_type,	character_maximum_length FROM information_schema.columns WHERE table_schema = 'public' AND table_name   = 'cars'")

In [ ]:
dfcarscol = pd.read_sql(qrycols,db.connect())

In [ ]:
dfcarscol.head(10)

,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length
0,id,1,None,NO,integer,None
1,make_id,2,None,YES,text,None
2,model,3,None,YES,text,None
3,year,4,None,YES,integer,None
4,vin,5,None,YES,text,None
5,color,6,None,YES,text,None
6,price,7,None,YES,double precision,None
7,city,8,None,YES,text,None
8,state,9,None,YES,text,None
9,postal,10,None,YES,integer,None

In [ ]:
qrycols2 = text("SELECT column_name,	ordinal_position,	column_default,	is_nullable,	data_type,	character_maximum_length FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'cars_favorites'")

In [ ]:
dfcarfavcol = pd.read_sql(qrycols2,db.connect())

In [ ]:
dfcarfavcol.head(10)

,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length
0,id,1,None,NO,integer,None
1,user_id,2,None,YES,integer,None
2,car_id,3,None,YES,integer,None

In [ ]:
qrycols3 = text("SELECT column_name,	ordinal_position,	column_default,	is_nullable,	data_type,	character_maximum_length FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'users'")

In [ ]:
dfusercol = pd.read_sql(qrycols3,db.connect())

In [ ]:
dfusercol.head(10)

,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length
0,id,1,None,NO,integer,None
1,full_name,2,None,YES,text,None
2,first_name,3,None,YES,text,None
3,last_name,4,None,YES,text,None
4,username,5,None,YES,text,None
5,avatar,6,None,YES,text,None
6,email,7,None,YES,text,None
7,email_verified,8,None,YES,boolean,None
8,phone,9,None,YES,text,None
9,twitter_handle,10,None,YES,text,None

#### Membuat Query untuk Menampilkan Data dari Suatu Table

In [ ]:
qry2 = text("SELECT * FROM public.cars")

In [ ]:
with db.connect() as conn:
    result2 = conn.execute(qry2)

In [ ]:
df = pd.read_sql(qry2,db.connect())

In [ ]:
df.head()

,id,make_id,model,year,vin,color,price,city,state,postal,longitude,latitude,description,seller,seller_name,image,image_thumb
0,1,Dodge,Journey,2009,WAURFAFR5BA409381,Goldenrod,1612.0,Sacramento,California,95833,-75.6014,9.9255,Morbi porttitor lorem id ligula. Suspendisse o...,Billy.Kling66,Lissie Neesham,https://images.unsplash.com/photo-152011646881...,https://images.unsplash.com/photo-152011646881...
1,2,Lincoln,Continental Mark VII,1990,WBA3D3C56EK000457,Indigo,82665.0,Dallas,Texas,75310,55.0286,-77.8224,Morbi vel lectus in quam fringilla rhoncus. Ma...,Fay.Mills,Obidiah Breton,https://images.unsplash.com/photo-153390317922...,https://images.unsplash.com/photo-153390317922...
2,3,Pontiac,Torrent,2008,1G4HP54KX54034031,Violet,94314.0,Albuquerque,New Mexico,87201,-55.5027,-60.6977,Quisque id justo sit amet sapien dignissim ves...,Antoinette.Hayes,Missy Ovell,https://images.unsplash.com/photo-153729462017...,https://images.unsplash.com/photo-153729462017...
3,4,Ford,Falcon,1966,JM1NC2MFXD0382356,Green,41388.0,Dayton,Ohio,45454,-35.3417,-39.7726,"Nam dui. Proin leo odio\, porttitor id\, conse...",Sydni_Little15,Rosamund Strickland,https://images.unsplash.com/photo-152865987459...,https://images.unsplash.com/photo-152865987459...
4,5,Mercedes-Benz,CL-Class,2002,JA32X8HWXAU202509,Purple,57738.0,Warren,Ohio,44485,-118.7472,63.2554,Mauris lacinia sapien quis libero. Nullam sit ...,Annabelle11,Alphard Matthessen,https://images.unsplash.com/photo-151104570918...,https://images.unsplash.com/photo-151104570918...

### NOSQL Database

In [ ]:
! python -m pip install pymongo[tls,srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymongo[srv,tls]
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
      492.9/492.9 kB 12.5 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv,tls])
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
      283.7/283.7 kB 31.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

In [ ]:
import datetime
import pymongo
from pymongo import MongoClient

In [ ]:
!curl ipecho.net/plain

35.247.67.180

#### Connect to MongoDb

In [ ]:
# uri (uniform resource identifier) defines the connection parameters
uri = 'mongodb+srv://santosobudiaris:admin123@cluster0.alb1oiq.mongodb.net/?retryWrites=true&w=majority'
# create client
client = MongoClient(uri)

In [ ]:
# connection test
client.stats

Database(MongoClient(host=['ac-860xhsz-shard-00-02.alb1oiq.mongodb.net:27017', 'ac-860xhsz-shard-00-00.alb1oiq.mongodb.net:27017', 'ac-860xhsz-shard-00-01.alb1oiq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-kxc8v6-shard-0', tls=True), 'stats')

In [ ]:
client.list_database_names()

['contohdb', 'documentdb', 'total_records', 'admin', 'local']

#### Create New Database

In [ ]:
db = client.documentdb

#### Create New Collection

In [ ]:
collection = db.doc_collection

#### Insert Data Into Collection

##### Insert One

In [ ]:
data = {
        "basics": {
            "name": "Apple Inc",
            "stock_ticker_symbol": "AAPL",
            "isin_identifier": "US0378331005",
            "exchange": "nasdaq",
            "industry": "technology",
            "sector": "consumer electronics"
        },
        "output": {
            "total_revenue": "347,155,000",
            "operating_revenue": "347,155,000",
            "cost_of_revenue": "204,804,000",
            "gross_profit": "142,351,000",
            "operating_expense": "42,413,000",
            "operating_income": "99,938,000",
            "net_non_operating_interest_income_expense": "345,000",
            "other_income_expense": "577,000",
            "pretax_income": "100,860,000",
            "tax_provision": "14,058,000",
            "net_income_common_stockholders": "86,802,000",
            "diluted_ni_available_to_com_stockholders": "86,802,000",
            "basic_eps": "",
            "diluted_eps": "",
            "basic_average_shares": "",
            "diluted_average_shares": "",
            "total_operating_income_as_reported": "99,938,000",
            "total_expenses": "247,217,000",
            "net_income_from_continuing_and_discontinued_operation": "86,802,000",
            "normalized_income": "86,802,000",
            "interest_income": "2,952,000",
            "interest_expense": "2,607,000",
            "net_interest_income": "345,000",
            "ebit": "103,467,000",
            "ebitda": "114,464,000",
            "reconciled_cost_of_revenue": "204,804,000",
            "reconciled_depreciation": "10,997,000",
            "net_income_from_continuing_operation_net_minority_interest": "86,802,000",
            "total_unusual_items_excluding_goodwill": "0",
            "total_unusual_items": "0",
            "normalized_ebitda": "114,464,000",
            "tax_rate_for_calcs": "0",
            "tax_effect_of_unusual_items": "0"
        }
		}

In [ ]:
col_id = collection.insert_one(data).inserted_id

In [ ]:
col_id

ObjectId('6449edc6a776994b059bf249')

##### Insert Many

In [ ]:
lsdata = [
        {
        "basics": {
            "name": "Amazon.com, Inc",
            "stock_ticker_symbol": "AMZN",
            "isin_identifier": "US0378331004",
            "exchange": "nasdaq",
            "industry": "technology",
            "sector": "Consumer Discretionary"
        },
        "output": {
            "total_revenue": "347,155,000",
            "operating_revenue": "347,155,000",
            "cost_of_revenue": "204,804,000",
            "gross_profit": "142,351,000",
            "operating_expense": "42,413,000",
            "operating_income": "99,938,000",
            "net_non_operating_interest_income_expense": "345,000",
            "other_income_expense": "577,000",
            "pretax_income": "100,860,000",
            "tax_provision": "14,058,000",
            "net_income_common_stockholders": "86,802,000",
            "diluted_ni_available_to_com_stockholders": "86,802,000",
            "basic_eps": "",
            "diluted_eps": "",
            "basic_average_shares": "",
            "diluted_average_shares": "",
            "total_operating_income_as_reported": "99,938,000",
            "total_expenses": "247,217,000",
            "net_income_from_continuing_and_discontinued_operation": "86,802,000",
            "normalized_income": "86,802,000",
            "interest_income": "2,952,000",
            "interest_expense": "2,607,000",
            "net_interest_income": "345,000",
            "ebit": "103,467,000",
            "ebitda": "114,464,000",
            "reconciled_cost_of_revenue": "204,804,000",
            "reconciled_depreciation": "10,997,000",
            "net_income_from_continuing_operation_net_minority_interest": "86,802,000",
            "total_unusual_items_excluding_goodwill": "0",
            "total_unusual_items": "0",
            "normalized_ebitda": "114,464,000",
            "tax_rate_for_calcs": "0",
            "tax_effect_of_unusual_items": "0"
        }
		},
 {
        "basics": {
            "name": "Microsoft Corporation",
            "stock_ticker_symbol": "MSFT",
            "isin_identifier": "US0378331006",
            "exchange": "nasdaq",
            "industry": "technology",
            "sector": "Computer Software: Prepackaged Software"
        },
        "output": {
            "total_revenue": "347,155,000",
            "operating_revenue": "347,155,000",
            "cost_of_revenue": "204,804,000",
            "gross_profit": "142,351,000",
            "operating_expense": "42,413,000",
            "operating_income": "99,938,000",
            "net_non_operating_interest_income_expense": "345,000",
            "other_income_expense": "577,000",
            "pretax_income": "100,860,000",
            "tax_provision": "14,058,000",
            "net_income_common_stockholders": "86,802,000",
            "diluted_ni_available_to_com_stockholders": "86,802,000",
            "basic_eps": "",
            "diluted_eps": "",
            "basic_average_shares": "",
            "diluted_average_shares": "",
            "total_operating_income_as_reported": "99,938,000",
            "total_expenses": "247,217,000",
            "net_income_from_continuing_and_discontinued_operation": "86,802,000",
            "normalized_income": "86,802,000",
            "interest_income": "2,952,000",
            "interest_expense": "2,607,000",
            "net_interest_income": "345,000",
            "ebit": "103,467,000",
            "ebitda": "114,464,000",
            "reconciled_cost_of_revenue": "204,804,000",
            "reconciled_depreciation": "10,997,000",
            "net_income_from_continuing_operation_net_minority_interest": "86,802,000",
            "total_unusual_items_excluding_goodwill": "0",
            "total_unusual_items": "0",
            "normalized_ebitda": "114,464,000",
            "tax_rate_for_calcs": "0",
            "tax_effect_of_unusual_items": "0"
        }
		},
{
        "basics": {
            "name": "NVIDIA Corporation",
            "stock_ticker_symbol": "NVDA",
            "isin_identifier": "US0378331007",
            "exchange": "nasdaq",
            "industry": "technology",
            "sector": "Semiconductors"
        },
        "output": {
            "total_revenue": "347,155,000",
            "operating_revenue": "347,155,000",
            "cost_of_revenue": "204,804,000",
            "gross_profit": "142,351,000",
            "operating_expense": "42,413,000",
            "operating_income": "99,938,000",
            "net_non_operating_interest_income_expense": "345,000",
            "other_income_expense": "577,000",
            "pretax_income": "100,860,000",
            "tax_provision": "14,058,000",
            "net_income_common_stockholders": "86,802,000",
            "diluted_ni_available_to_com_stockholders": "86,802,000",
            "basic_eps": "",
            "diluted_eps": "",
            "basic_average_shares": "",
            "diluted_average_shares": "",
            "total_operating_income_as_reported": "99,938,000",
            "total_expenses": "247,217,000",
            "net_income_from_continuing_and_discontinued_operation": "86,802,000",
            "normalized_income": "86,802,000",
            "interest_income": "2,952,000",
            "interest_expense": "2,607,000",
            "net_interest_income": "345,000",
            "ebit": "103,467,000",
            "ebitda": "114,464,000",
            "reconciled_cost_of_revenue": "204,804,000",
            "reconciled_depreciation": "10,997,000",
            "net_income_from_continuing_operation_net_minority_interest": "86,802,000",
            "total_unusual_items_excluding_goodwill": "0",
            "total_unusual_items": "0",
            "normalized_ebitda": "114,464,000",
            "tax_rate_for_calcs": "0",
            "tax_effect_of_unusual_items": "0"
        }
		}
]

In [ ]:
res = collection.insert_many(lsdata)

In [ ]:
res.inserted_ids

[ObjectId('6449ee13a776994b059bf24a'),
 ObjectId('6449ee13a776994b059bf24b'),
 ObjectId('6449ee13a776994b059bf24c')]

In [ ]:
db.list_collection_names()

['doc_collection']

In [ ]:
collection.count_documents(filter={})

4

##### TryOther Collection

In [ ]:
db2 = client.contohdb

In [ ]:
collection2 = db2.contoh_collection

In [ ]:
data2={
	"Produk" : [
	{
	"Diskon" : "25%",
	"Merek" : "Merries Pants",
	"Jenis" : "Good Skin Pants",
	"Ukuran" : "M",
	"HargaNormal" :"106.790",
	"MataUang" : "Rp",
	"HargaMember" : "74.900",
	"HargaDiskon" : "79.900",
	"keterangan" : "maks. 6 bag"
	},
	{
	"Diskon" : "25%",
	"Merek" : "Merries Pants",
	"Jenis" : "Good Skin Pants",
	"Ukuran" : "L",
	"HargaNormal" :"106.790",
	"MataUang" : "Rp",
	"HargaMember" : "74.900",
	"HargaDiskon" : "79.900",
	"keterangan" : "Maks. 6 bag"
	},
	{
	"Diskon" : "25%",
	"Merek" : "Merries Pants",
	"Jenis" : "Good Skin Pants",
	"Ukuran" : "XL",
	"HargaNormal" :"106.790",
	"MataUang" : "Rp",
	"HargaMember" : "74.900",
	"HargaDiskon" : "79.900",
	"keterangan" : "Maks. 6 bag"
	},
	{
	"Diskon" : "30%",
	"Merek" : "PIATTOS SNACK KENTANG",
	"Jenis" : "Pack",
	"Ukuran" : "68 Gram",
	"HargaNormal" :"10.900",
	"MataUang" : "Rp",
	"HargaMember" : "7.500",
	"HargaDiskon" : "9.490",
	"keterangan" : "PIATTOS SNACK KENTANG PCK 68GR RASA TERTENTU, maks. 4 pck"
	},
	{
	"Diskon" : "30%",
	"Merek" : "ABC KECAP MANIS",
	"Jenis" : "Pouch",
	"Ukuran" : "520 ML",
	"HargaNormal" :"10.900",
	"MataUang" : "Rp",
	"HargaMember" : "7.500",
	"HargaDiskon" : "9.490",
	"keterangan" : "ABC KECAP MANIS PCH 520ML"
	},
	{
	"Diskon" : "20%",
	"Merek" : "KELLOGG'S CEREAL FROOT LOOPS",
	"Jenis" : "Box",
	"Ukuran" : "150 Gram",
	"HargaNormal" :"24.190",
	"MataUang" : "Rp",
	"HargaMember" : "",
	"HargaDiskon" : "10.800",
	"keterangan" : "KELLOGG'S CEREAL FROOT LOOPS BOX 150GR SEMUA JENIS"
	}
	],
	"TGLAWAL" : "11052023",
	"TGLAKHIR" : "17052023",
	"Lokasi" : "Jabodetabek & Palembang",
	"Supermarket" : "Superindo"
}

In [ ]:
colid_2 = collection2.insert_one(data2).inserted_id

In [ ]:
collection2.find_one()

{'_id': ObjectId('645dc16616136ea8308d1839'),
 'Produk': [{'Diskon': '25%',
   'Merek': 'Merries Pants',
   'Jenis': 'Good Skin Pants',
   'Ukuran': 'M',
   'HargaNormal': '106.790',
   'MataUang': 'Rp',
   'HargaMember': '74.900',
   'HargaDiskon': '79.900',
   'keterangan': 'maks. 6 bag'},
  {'Diskon': '25%',
   'Merek': 'Merries Pants',
   'Jenis': 'Good Skin Pants',
   'Ukuran': 'L',
   'HargaNormal': '106.790',
   'MataUang': 'Rp',
   'HargaMember': '74.900',
   'HargaDiskon': '79.900',
   'keterangan': 'Maks. 6 bag'},
  {'Diskon': '25%',
   'Merek': 'Merries Pants',
   'Jenis': 'Good Skin Pants',
   'Ukuran': 'XL',
   'HargaNormal': '106.790',
   'MataUang': 'Rp',
   'HargaMember': '74.900',
   'HargaDiskon': '79.900',
   'keterangan': 'Maks. 6 bag'},
  {'Diskon': '30%',
   'Merek': 'PIATTOS SNACK KENTANG',
   'Jenis': 'Pack',
   'Ukuran': '68 Gram',
   'HargaNormal': '10.900',
   'MataUang': 'Rp',
   'HargaMember': '7.500',
   'HargaDiskon': '9.490',
   'keterangan': 'PIATTOS SNACK KENTANG PCK 68GR RASA TERTENTU, maks. 4 pck'},
  {'Diskon': '30%',
   'Merek': 'ABC KECAP MANIS',
   'Jenis': 'Pouch',
   'Ukuran': '520 ML',
   'HargaNormal': '10.900',
   'MataUang': 'Rp',
   'HargaMember': '7.500',
   'HargaDiskon': '9.490',
   'keterangan': 'ABC KECAP MANIS PCH 520ML'},
  {'Diskon': '20%',
   'Merek': "KELLOGG'S CEREAL FROOT LOOPS",
   'Jenis': 'Box',
   'Ukuran': '150 Gram',
   'HargaNormal': '24.190',
   'MataUang': 'Rp',
   'HargaMember': '',
   'HargaDiskon': '10.800',
   'keterangan': "KELLOGG'S CEREAL FROOT LOOPS BOX 150GR SEMUA JENIS"}],
 'TGLAWAL': '11052023',
 'TGLAKHIR': '17052023',
 'Lokasi': 'Jabodetabek & Palembang',
 'Supermarket': 'Superindo'}

#### Query Data

In [ ]:
import pprint

##### Find One

In [ ]:
pprint.pprint(collection.find_one())

{'_id': ObjectId('6449edc6a776994b059bf249'),
 'basics': {'exchange': 'nasdaq',
            'industry': 'technology',
            'isin_identifier': 'US0378331005',
            'name': 'Apple Inc',
            'sector': 'consumer electronics',
            'stock_ticker_symbol': 'AAPL'},
 'output': {'basic_average_shares': '',
            'basic_eps': '',
            'cost_of_revenue': '204,804,000',
            'diluted_average_shares': '',
            'diluted_eps': '',
            'diluted_ni_available_to_com_stockholders': '86,802,000',
            'ebit': '103,467,000',
            'ebitda': '114,464,000',
            'gross_profit': '142,351,000',
            'interest_expense': '2,607,000',
            'interest_income': '2,952,000',
            'net_income_common_stockholders': '86,802,000',
            'net_income_from_continuing_and_discontinued_operation': '86,802,000',
            'net_income_from_continuing_operation_net_minority_interest': '86,802,000',
            'net_interest_income': '345,000',
            'net_non_operating_interest_income_expense': '345,000',
            'normalized_ebitda': '114,464,000',
            'normalized_income': '86,802,000',
            'operating_expense': '42,413,000',
            'operating_income': '99,938,000',
            'operating_revenue': '347,155,000',
            'other_income_expense': '577,000',
            'pretax_income': '100,860,000',
            'reconciled_cost_of_revenue': '204,804,000',
            'reconciled_depreciation': '10,997,000',
            'tax_effect_of_unusual_items': '0',
            'tax_provision': '14,058,000',
            'tax_rate_for_calcs': '0',
            'total_expenses': '247,217,000',
            'total_operating_income_as_reported': '99,938,000',
            'total_revenue': '347,155,000',
            'total_unusual_items': '0',
            'total_unusual_items_excluding_goodwill': '0'}}

In [ ]:
pprint.pprint(collection.find_one({"basics.stock_ticker_symbol": "AMZN"}))

{'_id': ObjectId('6449ee13a776994b059bf24a'),
 'basics': {'exchange': 'nasdaq',
            'industry': 'technology',
            'isin_identifier': 'US0378331004',
            'name': 'Amazon.com, Inc',
            'sector': 'Consumer Discretionary',
            'stock_ticker_symbol': 'AMZN'},
 'output': {'basic_average_shares': '',
            'basic_eps': '',
            'cost_of_revenue': '204,804,000',
            'diluted_average_shares': '',
            'diluted_eps': '',
            'diluted_ni_available_to_com_stockholders': '86,802,000',
            'ebit': '103,467,000',
            'ebitda': '114,464,000',
            'gross_profit': '142,351,000',
            'interest_expense': '2,607,000',
            'interest_income': '2,952,000',
            'net_income_common_stockholders': '86,802,000',
            'net_income_from_continuing_and_discontinued_operation': '86,802,000',
            'net_income_from_continuing_operation_net_minority_interest': '86,802,000',
            'net_interest_income': '345,000',
            'net_non_operating_interest_income_expense': '345,000',
            'normalized_ebitda': '114,464,000',
            'normalized_income': '86,802,000',
            'operating_expense': '42,413,000',
            'operating_income': '99,938,000',
            'operating_revenue': '347,155,000',
            'other_income_expense': '577,000',
            'pretax_income': '100,860,000',
            'reconciled_cost_of_revenue': '204,804,000',
            'reconciled_depreciation': '10,997,000',
            'tax_effect_of_unusual_items': '0',
            'tax_provision': '14,058,000',
            'tax_rate_for_calcs': '0',
            'total_expenses': '247,217,000',
            'total_operating_income_as_reported': '99,938,000',
            'total_revenue': '347,155,000',
            'total_unusual_items': '0',
            'total_unusual_items_excluding_goodwill': '0'}}

In [ ]:
data = collection.find_one({"basics.stock_ticker_symbol": "AMZN"})

In [ ]:
import json

In [ ]:
class obj:
  # constructor
  def __init__(self, dict1):
    self.__dict__.update(dict1)

In [ ]:
obj1 = json.loads(json.dumps(data['basics']), object_hook=obj)

In [ ]:
obj1.name

'Amazon.com, Inc'

##### Find By Criteria

In [ ]:
result = collection.find({"$or":[{"basics.sector":"consumer electronics"},{"basics.stock_ticker_symbol": "AMZN"}]})
for r in result:
  pprint.pprint(r['basics'])

{'exchange': 'nasdaq',
 'industry': 'technology',
 'isin_identifier': 'US0378331005',
 'name': 'Apple Inc',
 'sector': 'consumer electronics',
 'stock_ticker_symbol': 'AAPL'}
{'exchange': 'nasdaq',
 'industry': 'technology',
 'isin_identifier': 'US0378331004',
 'name': 'Amazon.com, Inc',
 'sector': 'Consumer Discretionary',
 'stock_ticker_symbol': 'AMZN'}

In [ ]:
lsbasic = []
for r in collection.find({"$or":[{"basics.sector":"consumer electronics"},{"basics.stock_ticker_symbol": "AMZN"}]}):
  lsbasic.append(r['basics'])

#### Transform to Pandas Dataframe

In [ ]:
import pandas as pd

In [ ]:
dfbasic=pd.DataFrame(lsbasic)

In [ ]:
dfbasic.head()

,name,stock_ticker_symbol,isin_identifier,exchange,industry,sector
0,Apple Inc,AAPL,US0378331005,nasdaq,technology,consumer electronics
1,"Amazon.com, Inc",AMZN,US0378331004,nasdaq,technology,Consumer Discretionary

In [ ]:
lsoutput = []
for r in collection.find({"$or":[{"basics.sector":"consumer electronics"},{"basics.stock_ticker_symbol": "AMZN"}]}):
  lsoutput.append(r['output'])

In [ ]:
dfoutput=pd.DataFrame(lsoutput)

In [ ]:
dfoutput.head()

,total_revenue,operating_revenue,cost_of_revenue,gross_profit,operating_expense,operating_income,net_non_operating_interest_income_expense,other_income_expense,pretax_income,tax_provision,...,ebit,ebitda,reconciled_cost_of_revenue,reconciled_depreciation,net_income_from_continuing_operation_net_minority_interest,total_unusual_items_excluding_goodwill,total_unusual_items,normalized_ebitda,tax_rate_for_calcs,tax_effect_of_unusual_items
0,"347,155,000","347,155,000","204,804,000","142,351,000","42,413,000","99,938,000","345,000","577,000","100,860,000","14,058,000",...,"103,467,000","114,464,000","204,804,000","10,997,000","86,802,000",0,0,"114,464,000",0,0
1,"347,155,000","347,155,000","204,804,000","142,351,000","42,413,000","99,938,000","345,000","577,000","100,860,000","14,058,000",...,"103,467,000","114,464,000","204,804,000","10,997,000","86,802,000",0,0,"114,464,000",0,0

#### Others Example

### File

In [ ]:
d = collection2.find({"Produk.Ukuran": "M"}, {"_id": 0, "Produk": {"$elemMatch" : {"Ukuran" : 'M'}}});

In [ ]:
for a in d:
  pprint.pprint(a)

{'Produk': [{'Diskon': '25%',
             'HargaDiskon': '79.900',
             'HargaMember': '74.900',
             'HargaNormal': '106.790',
             'Jenis': 'Good Skin Pants',
             'MataUang': 'Rp',
             'Merek': 'Merries Pants',
             'Ukuran': 'M',
             'keterangan': 'maks. 6 bag'}]}
{'Produk': [{'Diskon': '25%',
             'HargaDiskon': '79.900',
             'HargaMember': '74.900',
             'HargaNormal': '106.790',
             'Jenis': 'Good Skin Pants',
             'MataUang': 'Rp',
             'Merek': 'Merries Pants',
             'Ukuran': 'M',
             'keterangan': 'maks. 6 bag'}]}

In [ ]:
listprod=[]
for a in d:
  for p in a['Produk']:
    listprod.append(p)

In [ ]:
dfprod = pd.DataFrame(listprod)

In [ ]:
dfprod.head()

,Diskon,Merek,Jenis,Ukuran,HargaNormal,MataUang,HargaMember,HargaDiskon,keterangan
0,25%,Merries Pants,Good Skin Pants,M,106.790,Rp,74.900,79.900,maks. 6 bag
1,25%,Merries Pants,Good Skin Pants,M,106.790,Rp,74.900,79.900,maks. 6 bag

##### CSV

###### CSV Reader

In [ ]:
import csv

In [ ]:
csvpath = '/content/drive/MyDrive/PRAKTIKUM_AMSD/csv_output.csv'

In [ ]:
with open(csvpath, 'r') as csvfile:
  csvreader = csv.reader(csvfile)
  lsdata = [a for a in csvreader]

In [ ]:
lsdata[:10]

[['id', 'date', 'tweet'],
 ['1456033382433898496',
  'Wed Nov 03 22:59:44 +0000 2021',
  'Maaf bu dokter, Genose kurang cuan. Klo ada yg cuan ngapain milih yang gak cuan...     https://t.co/8WGFBqcH8d'],
 ['1456029269025599488',
  'Wed Nov 03 22:43:24 +0000 2021',
  'RT @BrigitNamida: Ada yg tau Genose kemana? https://t.co/t80wdv5xFD'],
 ['1456028266700156928',
  'Wed Nov 03 22:39:25 +0000 2021',
  '@BrigitNamida Genose ditenggelamkan, Mbak. Ga ada cuannya buat penguasa soalnya '],
 ['1456027815988629506',
  'Wed Nov 03 22:37:37 +0000 2021',
  'Coba kalo yang jualan Genose adalah pak Luhut dan Erick. Niscaya kita ga akan kenal PCR.   https://t.co/it181Jg4wy'],
 ['1456020324454072323',
  'Wed Nov 03 22:07:51 +0000 2021',
  'RT @BrigitNamida: Ada yg tau Genose kemana? https://t.co/t80wdv5xFD'],
 ['1456019909134086145',
  'Wed Nov 03 22:06:12 +0000 2021',
  'RT @dewi_darmawati: bukannya ini mirip dg yg dilakukan dg GeNose? @KemenkesRI @lawancovid19_id   https://t.co/Sl7B17TDbQ'],
 ['1456018506885992452',
  'Wed Nov 03 22:00:38 +0000 2021',
  'bukannya ini mirip dg yg dilakukan dg GeNose? @KemenkesRI @lawancovid19_id   https://t.co/Sl7B17TDbQ'],
 ['1456015780181512196',
  'Wed Nov 03 21:49:48 +0000 2021',
  'RT @BrigitNamida: Ada yg tau Genose kemana? https://t.co/t80wdv5xFD'],
 ['1456015384029528064',
  'Wed Nov 03 21:48:13 +0000 2021',
  'RT @BrigitNamida: Ada yg tau Genose kemana? https://t.co/t80wdv5xFD']]

###### Pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(csvpath)

In [ ]:
df.head()

,id,date,tweet
0,1456033382433898496,Wed Nov 03 22:59:44 +0000 2021,"Maaf bu dokter, Genose kurang cuan. Klo ada yg..."
1,1456029269025599488,Wed Nov 03 22:43:24 +0000 2021,RT @BrigitNamida: Ada yg tau Genose kemana? h...
2,1456028266700156928,Wed Nov 03 22:39:25 +0000 2021,"@BrigitNamida Genose ditenggelamkan, Mbak. Ga ..."
3,1456027815988629506,Wed Nov 03 22:37:37 +0000 2021,Coba kalo yang jualan Genose adalah pak Luhut ...
4,1456020324454072323,Wed Nov 03 22:07:51 +0000 2021,RT @BrigitNamida: Ada yg tau Genose kemana? h...

###### CSV From URL

In [ ]:
url = 'https://raw.githubusercontent.com/mofdac/-materi-das/main/04.%20Data%20Preparation/dataset/new_system.csv'

In [ ]:
df1 = pd.read_csv(url)

In [ ]:
df1.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,29592768,Filomenas,89351775,Alex,Queens,Ditmars Steinway,40.77362,-73.91947,Entire home/apt,73.0,1,69,2019-06-23,8.35,1,233
1,18239876,Studio aprtmnt for ONE located in upper Manha...,125589679,Shanta,Manhattan,Washington Heights,40.83694,-73.94212,Entire home/apt,100.0,3,71,2019-06-21,2.66,1,363
2,27225028,NYC Private 1BR Apartment - 116th Street,59591371,Dustin,Manhattan,East Harlem,40.79889,-73.94489,Entire home/apt,89.0,6,48,2019-07-02,4.21,1,15
3,1403129,Penthouse Designer Loft Brooklyn,7573341,Robert,Brooklyn,Sunset Park,40.63947,-74.01888,Entire home/apt,195.0,2,220,2019-06-27,3.10,2,287
4,22322524,Alcove Studio in the heart of Williamsburg,103259676,Flvio,Brooklyn,Williamsburg,40.72021,-73.95695,Entire home/apt,150.0,4,14,2019-01-07,0.77,1,0

##### JSON

In [ ]:
import json

In [ ]:
json_path = '/content/drive/MyDrive/PRAKTIKUM_AMSD/Data_Tweet_20230701151809.json'

In [ ]:
tweets = []
for j in open(json_path, 'r'):
  tweet = json.loads(j)
  tweets.append(tweet)

In [ ]:
tweets[0]

{'created_at': 'Sat Jul 01 12:52:52 +0000 2023',
 'id': 1675125315931078659,
 'id_str': '1675125315931078659',
 'full_text': 'RT @JohnNester17: We just paid $1800 for my team to play 4 games.. sort of. \n\nG 1 - 11-0 W (4.5 inn MERCY RULE)\nG 2 - 4-1 L (5.5 inn TIME L',
 'truncated': False,
 'display_text_range': [0, 140],
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [{'screen_name': 'JohnNester17',
    'name': 'John Nester',
    'id': 240531632,
    'id_str': '240531632',
    'indices': [3, 16]}],
  'urls': []},
 'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 261474920,
  'id_str': '261474920',
  'name': 'Red Watson',
  'screen_name': 'Red_Watson',
  'location': 'Greer, South Carolina',
  'description': 'S. Carolina fan, proud father & husband, golfer, Tater Troll, and statistician for @YJSN1 , covering #GreerHighSchool sports',
  'url': 'https://t.co/kBMqH39bRq',
  'entities': {'url': {'urls': [{'url': 'https://t.co/kBMqH39bRq',
      'expanded_url': 'http://www.facebook.com/RedWatson10',
      'display_url': 'facebook.com/RedWatson10',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 1915,
  'friends_count': 4243,
  'listed_count': 17,
  'created_at': 'Sun Mar 06 01:31:41 +0000 2011',
  'favourites_count': 25329,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': False,
  'statuses_count': 21913,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '07090B',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': True,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/917224057191518209/kkd4rGrp_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/917224057191518209/kkd4rGrp_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/261474920/1604208887',
  'profile_link_color': 'C34242',
  'profile_sidebar_border_color': 'BFBFBF',
  'profile_sidebar_fill_color': 'C9C9C9',
  'profile_text_color': '1C1F23',
  'profile_use_background_image': True,
  'has_extended_profile': True,
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None,
  'translator_type': 'none',
  'withheld_in_countries': []},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'retweeted_status': {'created_at': 'Mon Jun 26 22:03:40 +0000 2023',
  'id': 1673451992461484032,
  'id_str': '1673451992461484032',
  'full_text': 'We just paid $1800 for my team to play 4 games.. sort of. \n\nG 1 - 11-0 W (4.5 inn MERCY RULE)\nG 2 - 4-1 L (5.5 inn TIME LIMIT)\nG 3 - 3-3 T (3.5 inn RAIN)\nG 4 - 12-0 W (3.5 inn OTHER TEAM QUIT) \n\n17 innings total.. the  industry needs help.',
  'truncated': False,
  'display_text_range': [0, 241],
  'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': []},
  'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
  'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'in_reply_to_screen_name': None,
  'user': {'id': 240531632,
   'id_str': '240531632',
   'name': 'John Nester',
   'screen_name': 'JohnNester17',
   'location': '',
   'description': 'Christian | @_17co_ | @USAPrime_SC | Clemson Grad | Former As, Padres MiLB Player and Padres Catching Coordinator | Romans 5:3-4',
   'url': 'https://t.co/QQu2Cr6Km2',
   'entities': {'url': {'urls': [{'url': 'https://t.co/QQu2Cr6Km2',
       'expanded_url': 'http://17co.co',
       'display_url': '17co.co',
       'indices': [0, 23]}]},
    'description': {'urls': []}},
   'protected': False,
   'followers_count': 2182,
   'friends_count': 1501,
   'listed_count': 17,
   'created_at': 'Thu Jan 20 04:07:39 +0000 2011',
   'favourites_count': 6549,
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': False,
   'verified': False,
   'statuses_count': 5482,
   'lang': None,
   'contributors_enabled': False,
   'is_translator': False,
   'is_translation_enabled': False,
   'profile_background_color': '131516',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme14/bg.gif',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme14/bg.gif',
   'profile_background_tile': True,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/1648677532386963457/okdwy0k2_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1648677532386963457/okdwy0k2_normal.jpg',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/240531632/1577651354',
   'profile_link_color': '009999',
   'profile_sidebar_border_color': 'EEEEEE',
   'profile_sidebar_fill_color': 'EFEFEF',
   'profile_text_color': '333333',
   'profile_use_background_image': True,
   'has_extended_profile': False,
   'default_profile': False,
   'default_profile_image': False,
   'following': None,
   'follow_request_sent': None,
   'notifications': None,
   'translator_type': 'none',
   'withheld_in_countries': []},
  'geo': None,
  'coordinates': None,
  'place': None,
  'contributors': None,
  'is_quote_status': False,
  'retweet_count': 20,
  'favorite_count': 459,
  'favorited': False,
  'retweeted': False,
  'lang': 'en'},
 'is_quote_status': False,
 'retweet_count': 20,
 'favorite_count': 0,
 'favorited': False,
 'retweeted': False,
 'lang': 'en'}

In [ ]:
tw = tweets[1]

In [ ]:
print(tw['id'],',',tw['user']['name'],',',tw['full_text'])

1675122069682659334 , MikeyJ79Part3 , @ChrisAlvino @DFisman @WHO Law of Large Numbers turning up again
Yeah 0.5% of people suffering Long Covid effects is a massive problem. Im curious how disproportionate its going to hit Healthcare and Travel industry.

##### XML

###### XML ElementTree

In [ ]:
import xml.etree.ElementTree as ET

In [ ]:
xmlfile = "/content/drive/MyDrive/DA/File/po_data.xml"

In [ ]:
tree = ET.parse(xmlfile)
root = tree.getroot()

In [ ]:
root.tag

'PurchaseOrders'

In [ ]:
root.attrib

{}

In [ ]:
for child in root:
  print(child.tag, child.attrib, child.attrib['OrderDate'])

PurchaseOrder {'PurchaseOrderNumber': '99503', 'OrderDate': '1999-10-20'} 1999-10-20
PurchaseOrder {'PurchaseOrderNumber': '99505', 'OrderDate': '1999-10-22'} 1999-10-22
PurchaseOrder {'PurchaseOrderNumber': '99504', 'OrderDate': '1999-10-22'} 1999-10-22

In [ ]:
ch1 = root[0]

In [ ]:
for x in ch1.iter():
  print(x.tag, x.attrib)

PurchaseOrder {'PurchaseOrderNumber': '99503', 'OrderDate': '1999-10-20'}
Address {'Type': 'Shipping'}
Name {}
Street {}
City {}
State {}
Zip {}
Country {}
Address {'Type': 'Billing'}
Name {}
Street {}
City {}
State {}
Zip {}
Country {}
DeliveryNotes {}
Items {}
Item {'PartNumber': '872-AA'}
ProductName {}
Quantity {}
USPrice {}
Comment {}
Item {'PartNumber': '926-AA'}
ProductName {}
Quantity {}
USPrice {}
ShipDate {}

In [ ]:
for addr in root.findall('./PurchaseOrder/Address'):
  for name in addr.findall('./Name'):
    print(addr.attrib, name.text)

{'Type': 'Shipping'} Ellen Adams
{'Type': 'Billing'} Tai Yee
{'Type': 'Shipping'} Cristian Osorio
{'Type': 'Billing'} Cristian Osorio
{'Type': 'Shipping'} Jessica Arnold
{'Type': 'Billing'} Jessica Arnold

###### Beautiful Soup

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
with open(xmlfile, 'r') as f:
    data = f.read()

In [ ]:
soup = BeautifulSoup(data, 'xml')

In [ ]:
res = soup.find_all('Address')

In [ ]:
for a in res:
  print(a.find('Name').text,'-', a.find('Street').text)

Ellen Adams - 123 Maple Street
Tai Yee - 8 Oak Avenue
Cristian Osorio - 456 Main Street
Cristian Osorio - 456 Main Street
Jessica Arnold - 4055 Madison Ave
Jessica Arnold - 4055 Madison Ave

##### Load Bulk File

### Reference

https://pymongo.readthedocs.io/en/stable/tutorial.html

https://www.psycopg.org/docs/

https://docs.python.org/3/library/xml.etree.elementtree.html