<a href="https://colab.research.google.com/github/mihoku/MoF-Training-Python-for-Data-Analytics/blob/main/Day%201/Class_Discussion_Day_1_Python_for_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for Data Analytics**

# **Basic Python**

<img src="https://raw.githubusercontent.com/mihoku/repository-random/master/basic_python_building_blocks.png" width="700">

Agenda (Hari Pertama) :
1. ```Sintaksis``` dan ```Variabel```.
2. ```Tipe data``` (atomic and collective).
3. ```Indexing dan slicing```.
4. ```Input & Output```
5. ```Control Structures```.
6. ```Functions```.

## Mari kita mulai

In [ ]:

prin('Hello World!')

NameError: name 'prin' is not defined

``` print('Hello World!') ``` <br>
Program pertama kita terdiri dari:
 - kata ``` print ```
 - kurang buka
 - kutip
 - teks
 - kutip
 - kurung tutup

In [ ]:
print('Hello World!'

SyntaxError: unexpected EOF while parsing (628126063.py, line 1)

In [ ]:
prin("Hello World!")

NameError: name 'prin' is not defined

In [ ]:
meonk("kucing")

NameError: name 'meonk' is not defined

In [ ]:
print()

In [ ]:
# tampilkan ke layar nama Anda.
print()

Pesan error dalam warna **merah** terdiri dari:
- Traceback, lokasi file yang error
- Lokasi error di program kita ditunjukkan dengan tanda ```---->```
- Konten errornya
- Nama pesan errornya dan penjelasannya

## 1. Sintaksis dasar dan Variabel

> Sintaksis dalam python bertujuan untuk memastikan kode yang dibuat mudah untuk dibaca dan dipahami. Artinya ada standar penulisan yang digunakan, dalam hal ini [PEP 8 - Style Guide for Python Code](https://peps.python.org/pep-0008/#code-lay-out).

Beberapa hal dasar yang perlu dipahami:
1. Penulisan komentar.
2. Indentasi.
3. Penggabungan code.
3. Penamaan variable.

In [ ]:
#1. Penulisan komentar -> block code yang tidak di eksekusi
#2. Indentasi
# komentar
# membuat variable bernama x        # > ini merupakan contoh dari komentar

x = 2

"""indentasi
membuat if else statement
jika value dalam x tidak sama dengan dua
maka print 'Tidak Sama'
jika sama
#maka print 'Sama'
"""

if x == 2:
    print("Sama")
    print("Sama")             # > ini merupakan contoh dari indentansi, gunakan 4 spasi (bukan tabs) untuk indentasi (rekomendasi)
else:
    print(" Tidak Sama")

Sama
Sama

In [ ]:
# 3. Penggabungan code

'''pertama variable bernama y
kemudian print variable y
digabungkan menggunakan semicolon (;)'''

y = 3; print(y)

3

In [ ]:
# 4. Penamaan variable
# bisa menggunakan kombinasi uppercase dan lowercase
# tidak bisa dimulai dengan angka
# antar kata bisa dihubungkan dengan underscore (_)
nama_lengkap = 'ini Budi'  # kombinasi lowercase dengan underscore (snake case)
NamaLengkap  = 'Ini Budi'  # kombinasi uppercase dan lowercase (camel case)
1_nama = 'ini Budi'

### Variable

> [Lokasi memori yang dicadangkan untuk menyimpan values](https://www.w3schools.com/python/python_variables.asp).

Variabel adalah nama yang dilampirkan ke objek tertentu. Untuk membuat variabel dalam python cukup menetapkan nilai dan kemudian mulai menggunakannya. Penugasan dilakukan dengan satu tanda sama dengan (=):

Beberapa hal dasar yang perlu dipahami:
1. Cara membuat variable.
2. Overwrite variable dan interaksinya.
3. Multiple assignment.

In [ ]:
A

'Python for Data Analytics'

In [ ]:
# membuat variable A
A = "2abc"
# dibaca A diberi nilai 2

In [ ]:
# untuk melakukan fungsi print, value apa saja yang tersimpan di dalamnya
# bisa menggunakan print(A)
# atau langsung ketik A
s =12
A

'2abc'

In [ ]:
print(A)

2abc

In [ ]:
# print tanpa command print hanya dapat dilakukan jika dipanggil pada baris terakhir di cell Jupyter Notebook
A
B = 'tugas baru'
B

'tugas baru'

In [ ]:
# cek apakah jika kita melakukan overwrite atas A
# value apa yang tersimpan di dalamnya
# perhatikan interaksinya
A = 'Python for Data Analytics'
print(A)

Python for Data Analytics

In [ ]:
# multiple assignment
# biasanya akan ditulis beruntun
A = 1
B = 2
print(A)
print(B)

# kita akan melakukan overwrite kembali
# perhatikan cara penulisan multiple assignment yang lain
A, B = 3, 5
print(A)
print(B)

1
2
3
5

In [ ]:
A

3

In [ ]:
# Catatan: Assignment tanpa value akan menyebabkan error
XX

NameError: name 'XX' is not defined

In [ ]:
a=0
if a<1: # jika a < 1
  print("a kurang dari 1")
elif a>1:
    print("a lebih dari 0")
    print("a lebih dari 0")

a kurang dari 1

> Secara resmi, nama variabel dalam Python dapat memiliki panjang berapa pun dan dapat terdiri dari huruf besar dan huruf kecil (A-Z, a-z), angka (0-9), dan karakter garis bawah (_).

> Batasan tambahan adalah bahwa nama variabel hanya dapat **dimulai** dengan huruf atau garis bawah dan disarankan untuk tidak menggunakan **nama-nama** dari fungsi atau variable bawaan python basic (print, str, type, etc)

In [ ]:
_judul = 'Python for Data Analytics'
print(_judul)

Python for Data Analytics

In [ ]:
judul2 = 'Python for Data Analytics'
print(judul2)

Python for Data Analytics

In [ ]:
judul2 = 'Python for Data Analytics'
print(judul2)

Python for Data Analytics

## 2. Tipe data

<img src="https://raw.githubusercontent.com/mihoku/repository-random/master/python_data_types.png" width="500">

## 2.1. Tipe Data Tunggal (Atomic)

### 2.1.1 Number

Ada 2 jenis data number yang perlu diketahui, yaitu:
* Integer, yakni bilangan bulat (tidak ada angka di belakang koma)
* float, atau bilangan riil (memungkinkan punya angka di belakang koma)

#### Integer

In [ ]:
# Integers
# Â sebelas juta seratus sebelas ribu seratus sebelas rupiah
angka1 = 11_111_111
angka2 = 11111111
print(angka1, angka2)

11111111 11111111

#### Float

In [ ]:
# Float
f1 = 0.7
print(f1)

f2 = 7.
print(f2)

pi = 3.1416
print(pi)

euler_number = 2.718e-3
print(euler_number)

0.7
7.0
3.1416
0.002718

In [ ]:
# var a 1.000.000
a =1e6
a

1000000.0

### 2.1.2 String

String adalah tipe data berupa teks. String bisa terdiri atas satu atau lebih karakter.

Karakternya dapat berupa apapun, termasuk huruf alfabet (abc), angka (123), spasi ( ), jarak/tab (\t), bahkan baris baru/enter/newline (\n) dan lain sebagainya.

String pada python ditandai oleh adanya 2 tanda petik/quote, baik single-quote ('') maupun double-quote ("").

In [ ]:
# String
a = 'Budi'
print(a)

Budi

In [ ]:
# String yang memiliki jarak
b = 'Ini adalah musim kemarau. \t Hari yang sangat panas'
print(b)

Ini adalah musim kemarau. 	 Hari yang sangat panas

In [ ]:
# String yang memiliki beberapa baris
c = 'Bagaimana kabarmu? \nBaik. \nAku tidak tahu lagi. \nAda apa? \nIbu terus-terusan menanyakan kabarmu, walaupun kita sudah tidak bersama.'
print(c)

Bagaimana kabarmu?
Baik.
Aku tidak tahu lagi.
Ada apa?
Ibu terus-terusan menanyakan kabarmu, walaupun kita sudah tidak bersama.

In [ ]:
d="""1234
5678
9011
"""
print(d)
d

1234
5678
9011

'1234\n5678\n9011\n'

In [ ]:
# String kosong
d = ''
print(d)

bagaimana kalo strings kita terdapat tanda kutip didalamnya?

In [ ]:
#cara yang salah
"kata Budi"hai""

SyntaxError: invalid syntax (<ipython-input-43-5540149dd9b8>, line 2)

In [ ]:
#cara yang benar
'kata budi"hai"'

'kata budi"hai"'

In [ ]:
#cara yang benar
"kata budi:\"hai\""

'kata budi:"hai"'

### 2.1.3 Boolean

Adalah tipe data yang merepresentasikan benar (True) dan salah (False).

In [ ]:
# Data boolean bernilai benar
a = True
print(a)

# Data boolean bernilai salah
b = False
print(b)

# Kalimat perbandingan yang bernilai benar
c = 25<100
print(c)

# Kalimat perbandingan yang bernilai salah
d = 1000<10
print(d)

True
False
True
False

### 2.1.4 Bagaimana cara untuk mengecek tipe data?

In [ ]:
a=1
b=1.0
c=a*b
type()

float

In [ ]:
type("Budi")

str

In [ ]:
type(10.01)

float

<img src="https://raw.githubusercontent.com/mihoku/repository-random/master/latihan.png" width="300"/>

In [ ]:
# Coba cek tipe dari variabel berikut

a = 123456
b = True
c = "123456"
d = "True"

type(d)

str

### 2.1.5 Bagaimana cara mengubah tipe data atomic?

Python memungkinkan untuk mengubah tipe data atomik, yang dikenal sebagai operasi typecasting.

* Untuk mengubah data menjadi bilangan bulat (integer), gunakan fungsi int()
* Untuk mengubah data menjadi bilangan riil (float), gunakan fungsi float()
* Untuk mengubah data menjadi teks (string), gunakan fungsi str()
* Untuk mengubah data menjadi boolean, gunakan fungsi bool()

In [ ]:
# mengubah string menjadi integer
a = "12345"
b= int(a)
type(b)

int

In [ ]:
# mengubah integer menjadi float
a = 100
b = float(a)
print(b)
type(b)

100.0

float

In [ ]:
a="[1,2,3]"
b=eval(a)
type(b)

list

In [ ]:
# mengubah string menjadi float
a = "789.22"
b = float(a)
print(b)
type(b)

789.22

float

In [ ]:
# sayangnya, untuk mengubah string menjadi float, pembatas desimalnya harus titik ".", tidak bisa koma ","
a = "789,22".replace(",",".")
b = float(a)
print(b)
type(b)

789.22

float

In [ ]:
# mengubah integer menjadi boolean
a = 0
b = bool(a)
print(b)
type(b)

False

bool

In [ ]:
# mengubah integer menjadi boolean
a = 1
b = bool(a)
print(b)
type(b)

True

bool

In [ ]:
# mengubah integer menjadi boolean
a = 2
b = bool(a)
print(b)
type(b)

True

bool

### 2.1.6 Operators and Expressions untuk Data Atomic
> Dalam python operator adalah **simbol khusus** yang menunjukkan bahwa beberapa jenis perhitungan harus dilakukan. Nilai yang dijalankan oleh operator disebut **operand**.

> Urutan operan dan operator, seperti a + b - 5, disebut **ekspresi**.

#### 2.1.6.1 Arithmetic operator (Operator Aritmatika)

> Gunakan kurung untuk memastikan arithmetic operator dijalankan terlebih dahulu.

| Operator | Deskripsi | Contoh |
| :-: | :-- | :-:|
| `**`| Pangkat | `x ** 2`|
| `*`| Perkalian | `x * 4` |
| `/`| Pembagian, hasilnya float | `x / 5` |
| `//`| Pembagian, hasilnya rounded | `x // 3` |
| `%`| Sisa Bagi (modulo) | `x % 2`|
| `+`| Penjumlahan | `x + y` |
| `-`| Pengurangan | `x - y` |

In [ ]:
5**2

25

In [ ]:
5*2

10

In [ ]:
10/2

5.0

In [ ]:
13//2

6

In [ ]:
13%2

1

In [ ]:
4+5

9

In [ ]:
9-5

4

In [ ]:
12*1.4

16.799999999999997

In [ ]:
# menjumlahkan nilai pada variable A dan B
A = 1
B = 2
C = A + B
print(C)
print(type(C))

3
<class 'int'>

---
<img src="https://raw.githubusercontent.com/mihoku/repository-random/master/latihan.png" width="300"/>

In [ ]:
# Hitunglah 25 pangkat 5
25**5

9765625

In [ ]:
# Hitunglah akar kuadrat dari 169
169**0.5

13.0

In [ ]:
# Hitunglah pembagian bulat dari 17 dengan 5
17//5

3

In [ ]:
from re import A
# Hitunglah pembagian bulat dan sisa bagi dari 97 dengan 3
a=97 // 3

print(f"pembagian bulat --> {a} sisa bagi-->{97% 3}")

pembagian bulat --> 32 sisa bagi-->1

##### 2.1.6.2 Urutan Operasi Aritmatik

Setiap operasi Aritmatik di dalam python memiliki urutan dalam pengoperasiannya. Jika dalam satu ekpression terdapat lebih dari satu operasi, maka kode akan di eksekusi berdasarkan operasi yang lebih tinggi prioritasnya.

<br>
<br>

| Operator|Simbol |
| :-: | :-- |
| Tanda Kurung|( )|
| Pangkat|**|
| kali, bagi, pembagian (dengan output pembulatan kebawah), hasil sisa pembagian| * , / , //, %|
| Tambah, Kurang| + , - |

<br>
<br>

In [ ]:
5/5 + 5**5*5

15625

#### 2.1.6.3 Comparison operator

> Digunakan untuk membandingkan antara dua nilai. Menghasilkan nilai boolean (`True` atau `False`).

| Operator | Deskripsi | Contoh |
|:-:|:--|:-:|
|`==`|`sama dengan`|`x == y`|
|`!=`|`tidak sama dengan`|`x != y`|
|`>`|`lebih dari`|`x > y`|
|`<`|`kurang dari`|`x < y`|
|`>=`|`lebih dari atau sama dengan`|`x >= y`|
|`<=`|`kurang dari atau sama dengan`|`x <= y`|

In [ ]:
A = 10
B = 10
print(A==B)
print(A>B)

True
False

In [ ]:
A = "PYTHON"
B = "PYTHON"
A==B

True

In [ ]:
A = "python"
B = "PYTHON"
print(A==B)
print(A!=B)

False
True

In [ ]:
x = 5

In [ ]:
b = x < 10

In [ ]:
not b

False

In [ ]:
not False

True

In [ ]:
umur_budi = 10
persyaratan_sim = umur_budi>=17
persyaratan_sim

False

#### 2.1.6.4 Logical operator

> Digunakan untuk mengkombinasikan nilai boolean.

| Operator | Deskripsi | Contoh |
|:-:|:--|:-:|
|`not`|	Membalik nilai boolean, menghasilkan nilai `False` jika peryataan bernilai `True` dan sebaliknya	|`not(x < y)`|
|`and`| Menghasilkan `True` hanya jika kedua pernyataan bernilai `True`	|`x < 5 and  x < 10`|
|`or`|	Menghasilkan `True` jika salah satu pernyataan bernilai `True`	|`x < 5 or x > 4`|

In [ ]:
umur_andi = 19
tinggi_andi = 169

andi_boleh_daftar_tni = umur_andi>16 and tinggi_andi>165
print(andi_boleh_daftar_tni)

True

In [ ]:
umur_andi = 11
tinggi_andi = 161
rekomendasi = True

andi_boleh_daftar_tni = (umur_andi>16 and tinggi_andi>165) and rekomendasi==True


print(andi_boleh_daftar_tni)

False

Boolean Logic

| Condition 1 | Condition 2 | AND  | OR   |
|-------------|-------------|------|------|
| TRUE        | TRUE        | TRUE | TRUE |
| TRUE        | FALSE       | FALSE| TRUE |
| FALSE       | TRUE        | FALSE| TRUE |
| FALSE       | FALSE       | FALSE| FALSE|

In [ ]:
x > 2 and x < 4

False

In [ ]:
x > 2 or x < 4

True

#### 2.1.6.5 Strings Operations

##### Penggabungan String

In [ ]:
print("halo" + "semua")

halosemua

In [ ]:
print("halo" + " " + "semua")

halo semua

In [ ]:
print("halo","semua", "halo")

halo semua halo

bagaimana kalo kita ingin menambah angka kedalam teks kita?

In [ ]:
print("Umur Saya" + 25)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print ("Umur Saya",25)
print ("Umur Saya " + str(25))
print ("Umur Saya %d %d" % (25.0, 45))
%s
%d
%f

Umur Saya 25
Umur Saya 25
Umur Saya 25 45

In [ ]:
#kita juga bisa mengalikan string dengan angka yang akan menampilkan string sebanyak angka
print("halo "*5)

halo halo halo halo halo

Jika kita ingin print beberapa variabel sekaligus, kita cukup memisahkan antar variabel dan string yang ingin di-print dengan koma.

In [ ]:
nama_saya = "Tono"

umur_saya = 12

asal_negara = "Indonesia"

print('Hai, nama saya',nama_saya,'umur saya',umur_saya,'tahun dan saya tinggal di negara',asal_negara)

Hai, nama saya Tono umur saya 12 tahun dan saya tinggal di negara Indonesia

Kita juga bisa menggunakan ```f-string``` untuk print teks dengan variabel.

```F-string``` dibuat dengan menambahkan huruf ```f``` di depan string, lalu variabel yang akan di-print diletakkan di dalam tanda kurung ```{}```

In [ ]:
nama_saya = "Tono"

umur_saya = 12

asal_negara = "Indonesia"

print(f'Hai, nama saya {nama_saya}. Umur saya {umur_saya} tahun dan saya tinggal di negara {asal_negara}')

Hai, nama saya Tono. Umur saya 12 tahun dan saya tinggal di negara Indonesia

In [ ]:
a = "abcd"
b="c"
a-b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

#### 2.1.6.6 String Methods

> Semua metode string mengembalikan nilai baru. Mereka tidak mengubah string asli.

|Metode|Deskripsi|
| :-: | :-: |
|capitalize()| Mengubah karakter pertama menjadi huruf besar|
|title()|Mengubah huruf pertama pada setiap kata menjadi huruf besar|
|lower()|Mengubah semua karakter  menjadi huruf kecil|
|upper()|Mengubah semua karakter menjadi huruf besar|
|strip()|Menghilangkan spasi berlebih|
|lstrip()|Menghilangkan spasi berlebih pada bagian kiri string|
|rstrip()|Menghilangkan spasi berlebih pada bagian kanan string|
|split()|Memotong string pada karakter yang ditentukan, dan dioutput sebagai list|
|startswith()|Akan mengembalikan nilai True bila string diawali kata tertentu yang kita tentukan|
|endswith()|Akan mengembalikan nilai True bila string diakhiri kata tertentu yang kita tentukan|
|join()|Menggabungkan semua anggota menjadi string|

sumber: https://www.w3schools.com/python/python_ref_string.asp

In [ ]:
A = 'python for data analytics'
A.capitalize()

'Python for data analytics'

In [ ]:
A.title()

'Python For Data Analytics'

In [ ]:
A.upper()
A = A.upper()
A

'PYTHON FOR DATA ANALYTICS'

In [ ]:
A

'PYTHON FOR DATA ANALYTICS'

In [ ]:
A.lower()

'python for data analytics'

In [ ]:
A = '    python for data analytics   '
A.strip()

'python for data analytics'

In [ ]:
A.lstrip()

'python for data analytics   '

In [ ]:
A.rstrip()

'    python for data analytics'

In [ ]:
A = 'python for, data analytics'
A.split(',')

['python for', ' data analytics']

In [ ]:
# Jika tidak ditentukan split berdasarkan apa,
# maka secara otomatis split akan dilakukan berdasarkan karakter spasi
A = 'python for data analytics'
A.split()

['python', 'for', 'data', 'analytics']

In [ ]:
c = 'Bagaimana kabarmu? \nBaik. \nAku tidak tahu lagi. \nAda apa? \nIbu terus-terusan menanyakan kabarmu, walaupun kita sudah tidak bersama.'
print(c)
c.split('\n')

Bagaimana kabarmu?
Baik.
Aku tidak tahu lagi.
Ada apa?
Ibu terus-terusan menanyakan kabarmu, walaupun kita sudah tidak bersama.

['Bagaimana kabarmu? ',
 'Baik. ',
 'Aku tidak tahu lagi. ',
 'Ada apa? ',
 'Ibu terus-terusan menanyakan kabarmu, walaupun kita sudah tidak bersama.']

In [ ]:
A = 'Python for, data analytics'
A.lower().startswith('python')

True

In [ ]:
A = 'python for, data analytics'
A.endswith('ics')

True

In [ ]:
print('analytics' in A)
print('machine' in A)

True
False

In [ ]:
c = "ani, budi, coki, dedi"
"edit" in c

False

---
<img src="https://raw.githubusercontent.com/mihoku/repository-random/master/latihan.png" width="300"/>

In [ ]:
#gabungkan ketiga variabel tersebut menjadi 'Python For Data Analytics' (perhatikan huruf kapital)
import timeit
x = %timeit
A = 'PYTHON'
B = 'for'
C = 'Data Analytics'

print(A.title(),B.capitalize(),C)
y = %timeit
y-x

Python For Data Analytics

TypeError: unsupported operand type(s) for -: 'NoneType' and 'NoneType'

## 2.2 Tipe Data Kolektif

Terdapat empat built-in tipe data kolektif/jamak yang digunakan untuk menyimpan data di Python..
1. List,
2. Tuple,
3. Set, dan
4. Dictionary

Perbedaan dari keempat tipe data di atas adalah :

| **Pembeda**           | **List**          | **Tuple**              | **Set**                 | **Dictonary**                                |
|:------------------|:--------------|:-------------------|:--------------------|:-----------------------------------------|
| Bentuk            | [a,b,c]       | (a,b,c)            | {a,b,c}             | {a:x, b:y, c:z}                          |
| Duplikasi Item    | Diperbolehkan | Diperbolehkan      | Tidak diperbolehkan | Tidak diperbolehkan (kunci maupun nilai) |
| Order/Unordered   | Ordered       | Ordered            | Unordered           | Unordered                                |
| Keterubahan Nilai | Dapat Diubah  | Tidak Dapat Diubah | Dapat Diubah        | Dapat Diubah                             |

### 2.2.1 List

> Untuk menyimpan lebih dari satu value dalam satu variabel. Value dapat diakses menggunakan indeks urutan serta nilai dalam list dapat ditamba, dihapus, dan diubah. List ditandai dengan penggunaan ```[]```.

In [ ]:
# membuat list dengan value tipe data int
int_list = [1, 2, 3, 4, 5]
print(int_list)
print(type(int_list))
int_list[0]

[1, 2, 3, 4, 5]
<class 'list'>

1

In [ ]:
# membuat list dengan value tipe data str
str_list = list(('a', 'b', 'c', 'd'))
print(str_list)
print(type(str_list))

['a', 'b', 'c', 'd']
<class 'list'>

In [ ]:
# list juga mampu menampung value dengan tipe data berbeda
mix_list = [1, 2, 'a', 'b']
print(mix_list)
print(type(mix_list))

[1, 2, 'a', 'b']
<class 'list'>

In [ ]:
# list kemudian mampu menampung list dalam list
list_inlist =  [1, 2, [2.6, 8], 'a']
print(list_inlist)
print(type(list_inlist))

[1, 2, [2.6, 8], 'a']
<class 'list'>

In [ ]:
list_inlist.append('c')

In [ ]:
list_inlist

[1, 2, [2.6, 8], 'a', 'c']

In [ ]:
d = [5,6,7]

In [ ]:
list_inlist.extend(d)

In [ ]:
list_inlist

[1, 2, [2.6, 8], 'a', 'c', 5, 6, 7]

In [ ]:
list_inlist.append(d)
list_inlist

[1, 2, [2.6, 8], 'a', 'c', 5, 6, 7, [5, 6, 7]]

In [ ]:
list_inlist.index(5)

5

List dapat dimodifikasi menggunakan ```method```. Berikut method umum yang disediakan oleh Python:

|Method| Deskripsi|Contoh |Hasil |
|:--|:--|:--|:--|
|append()|	Menambahkan elemen ke dalam list pada urutan paling belakang | `lst.append('N')` | `lst = ['Y', 'O', 'S', 'A', 'N']`|
|clear()|	Menghapus seluruh elemen dalam list | `lst.clear()` | `lst = []`
|copy()|	Menghasilkan kopi dari list | `lst2 = lst.copy()` | `lst2 = ['Y', 'O', 'S', 'A']`|
|count()|	Menghasilkan jumlah elemen dalam satu list | `lst.count('Y')` | `1` |
|extend()|	Menggabungkan elemen iterabel ke dalam list | `lst.extend(['N', 'G'])` | `lst = ['Y', 'O', 'S', 'A', 'N', 'G']`|
|index()|	Menemukan lokasi pertama suatu elemen dalam list | `lst.index('S')` | `2` |
|insert()|	Menambahkan elemen ke dalam posisi tertentu dalam list | `lst.insert(3, 'I')` | `lst = ['Y', 'O', 'S', 'I', 'A']`|
|pop()|	Menghapus elemen list yang berada dalam posisi terkait | `lst.pop(2)` | `lst = ['Y', 'O', 'A']`|
|remove()|	Menghapus item pertama dengan nilai tertentu dalam suatu list | `lst.remove('O')` | `lst = ['Y', 'S', 'A']`|
|reverse()|	membalik urutan list | `lst.reverse()` | `lst = ['A', 'S', 'O', 'Y']` |
|sort()|	Mengurutkan elemen list | `lst.sort()` |`lst = ['A', 'O', 'S', 'Y']`|

In [ ]:
# kita akan mencoba menambah value ke dalam list menggunakan .append()
int_list = [1, 2, 3, 4, 5]
int_list.append(0)

In [ ]:
print(int_list)

[1, 2, 3, 4, 5, 0]

In [ ]:
# kita akan mencoba mengurutkan value di dalam list menggunakan .sort()
int_list.sort()
int_list

[0, 1, 2, 3, 4, 5]

In [ ]:
c = ['ani', 'edi', 'coki', 'budi']
c.sort()
c

['ani', 'budi', 'coki', 'edi']

In [ ]:
a = ['abc','def',3,2,1]
a.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
print(int_list)

[0, 1, 2, 3, 4, 5]

In [ ]:
# kita akan mencoba mengalikan variable int_list
int_list *= 3
print(int_list)
# list yang dihasilkan, bukan mengalikan masing-masing value di dalam int_list sebanyak 3 kali
# tapi melakukan pengulangan print valuenya sebanyak 3 kali

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

Kita juga bisa membuat list berisi angka yang urut dengan bantuan fungsi ```range```

In [ ]:
# fungsi range digunakan untuk membuat urutan angka dengan rentang tertentu
# urutan angka tersebut kemudian dapat diubah menjadi tipe data kolektif, misalnya list

# Akan membuat urutan angka 0-4
range_a = range(6)
range_a
# range diubah menjadi list
number_list = list(range_a)
print(number_list)

# Akan membuat urutan angka 4-10
range_b = range(4,11)
# range diubah menjadi list
number_list_b = list(range_b)
print(number_list_b)

[0, 1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9, 10]

In [ ]:
number_list_b
number_list_b[0]="abc"
number_list_b

['abc', 5, 6, 7, 8, 9, 10]

### 2.2.2 Tuple

> Kumpulan objek Python seperti ```list```, namun tidak dapat diubah nilainya setelah didefinisikan (immutable). Tuple ditandai dengan penggunaan ```()```.

In [ ]:
int_tuple = (1, 2, 3, 4, 5)
print(int_tuple)
print(type(int_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
int_tuple[0]='abc'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# walaupun tuple itu immutable
# kita bisa merubah tipenya menjadi list, dictionary, dsb
# kita akan mencoba merubah int_tuple menjadi list
list_int_tuple = list(int_tuple)
print(list_int_tuple)
print(type(list_int_tuple))

[1, 2, 3, 4, 5]
<class 'list'>

### 2.2.3 Set

> Kumpulan object Python yang memiliki nilai unik ```(tidak menerima duplikasi)``` dan elemennya tidak dapat diakses dengan indeks.

In [ ]:
int_set = {1,1,2,2,3,3}
print(int_set)
int_set[0]

{1, 2, 3}

TypeError: 'set' object is not subscriptable

In [ ]:
# perhatikan interaksi yang terjadi
# kita akan membuat variable set dengan value yang duplicate di dalamnya
int_set = set((1, 1, 2, 2, 3, 3))
print(int_set)
print(type(int_set))

{1, 2, 3}
<class 'set'>

Set dapat dimodifikasi menggunakan ```method```. Berikut method umum yang disediakan oleh Python:

|Method| Deskripsi|Contoh |
|:--|:--|:--|
|add()|	Menambahkan elemen ke dalam set pada urutan paling belakang | `a.update(6)` |
|clear()|	Menghapus seluruh elemen dalam set | `a.clear()` |
|remove()|	Menghapus elemen  tertentu dalam suatu set | `lst.remove('O')` | `lst = ['Y', 'O', 'S', 'A']`|
|update()|	Menambahkan iterable ke dalam set | `a.update([5, 6, 7])` |

In [ ]:
# kita akan mencoba menghapus value menggunakan .remove()
int_set.remove(1)
print(int_set)

{2, 3}

In [ ]:
d = set(range(20))
d

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [ ]:
d.remove(1)

In [ ]:
d

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

### 2.2.4 Dictionary

> Kumpulan object yang terdiri dari pasangan key (unik) dan value (nilai). Nilai dapat berupa text, number, boolean, maupun list. Dictionary ditandai dengan penggunaan ```{}```.

In [ ]:
num_of_employee = {'SETJEN' : 2665, 'DJP' : 45960, 'ITJEN': 715, 'DJPK': 547}

In [ ]:
num_of_employee['SETJEN']

2665

In [ ]:
# kita akan mencoba
print(type(num_of_employee))

<class 'dict'>

In [ ]:
# kita dapat mengakses nilai(value) dari key tertentu dengan cara berikut
print(num_of_employee['SETJEN'])

2665

In [ ]:
# kemudian kita bisa melakuan mengakses key dan value di dalam dictionary menggunakan looping
for key, value in num_of_employee.items():
    print(key)

SETJEN
DJP
ITJEN
DJPK

In [ ]:
# kemudian kita bisa melakuan mengakses key dan value di dalam dictionary menggunakan looping
# looping akan dibahas lebih dalam kemudian
for value in num_of_employee.values():
    print(value)

2665
45960
715
547

In [ ]:
# jika kita ingin menambahkan key dan value baru ke dalam dictionary
num_of_employee['BPPK'] = 1200

num_of_employee

{'SETJEN': 2665, 'DJP': 45960, 'ITJEN': 715, 'DJPK': 547, 'BPPK': 1200}

In [ ]:
num_of_employee['BPPK'] = 12000

num_of_employee

{'SETJEN': 2665, 'DJP': 45960, 'ITJEN': 715, 'DJPK': 547, 'BPPK': 12000}

In [ ]:
num_of_employee['BPPKP'] =num_of_employee['BPPK']
num_of_employee.pop('BPPK')

num_of_employee

{'SETJEN': 2665, 'DJP': 45960, 'ITJEN': 715, 'DJPK': 547, 'BPPKP': 12000}

In [ ]:
num_of_employee.keys()

dict_keys(['SETJEN', 'DJP', 'ITJEN', 'DJPK', 'BPPKP'])

Dictionary dapat dimodifikasi menggunakan ```method```. Berikut method umum yang disediakan oleh Python:

|Method| Deskripsi|Contoh |Hasil |
|:--|:--|:--|:--|
|clear()|	Menghapus seluruh elemen dalam dictionary | `thisdict.clear()` | `thisdict = {}`|
|copy()|	Menghasilkan kopi dari dictionary | `thisdict2 = thisdict.copy()` | `thisdict2 = {'SETJEN' : 2665, 'DJP' : 45960, 'ITJEN': 715, 'DJPK': 547}`|
|fromkeys()|	Membuat dictionary dari keys dan value yang telah ditetapkan | `thisdict = dict.fromkeys(keys, value)` | `thisdict = {'key1': value, 'key2': value, 'key3': value}` |
|get()|	Mendapatkan value dari sebuah key | `thisdict.get('SETJEN')` | `2665`|
|items()|	Menampilkan  pasangan key dan value dalam dictionary | `thisdict.items()` | `dict_items([('SETJEN', 2665), ('DJP', 45960), ('ITJEN', 715), ('DJPK', 547)])` |
|keys()|	Menampilkan  keys dalam dictionary | `thisdict.keys()` | `dict_keys(['SETJEN', 'DJP', 'ITJEN', 'DJPK'])`|
|pop()|	Menghapus elemen dictionary yang mempunyai key terkait | `thisdict.pop('DJPK)` | `thisdict = {'SETJEN': 2665, 'DJP': 45960, 'ITJEN': 715}`|
|popitem()|	Menghapus pasangan key-value terakhir | `thisdict.popitem()` | `thisdict = {'SETJEN': 2665, 'DJP': 45960}`|
|setdefault()|	Mendapatkan value dari sebuah key jika sudah ada, jika belum ada, menambah key tersebut ke dictionary dengan  value yang ditentukan | `thisdict.setdefault('MENTERI', 1)` | `thisdict = {'SETJEN': 2665, 'DJP': 45960, 'MENTERI': 1} ` |
|update()|	Memasukkan items (key-value) ke dictionary | `thisdict.update({'DJA' : 1000})` |`thisdict = {'SETJEN': 2665, 'DJP': 45960, 'MENTERI': 1, 'DJA': 1000}`|
|values()|	Menampilkan values dalam dictionary | `thisdict.values()` |`dict_values([2665, 45960, 1, 1000])`|

### 2.2.5 Konversi antar tipe data kolektif

* Untuk mengubah data menjadi list, gunakan function ```list()```
* Untuk mengubah data menjadi set, gunakan function ```set()```
* Untuk mengubah data menjadi tuple, gunakan function ```tuple()```
* Untuk mengubah data menjadi dictionary, gunakan function ```dict()``` (syarat dan ketentuan berlaku)

In [ ]:
print(list('Yosan'))
print(tuple('Yosan'))

['Y', 'o', 's', 'a', 'n']
('Y', 'o', 's', 'a', 'n')

In [ ]:
# mengubah list menjadi set, akan menghilangkan elemen yang duplikat dari list awal
initial_list = [1,2,3,4,4,5]
print(set(initial_list))

# mengubah list menjadi tuple
print(tuple(initial_list))

{1, 2, 3, 4, 5}
(1, 2, 3, 4, 4, 5)

In [ ]:
# List yang berisi list dengan sepasang elemen dapat diubah menjadi dictionary
list_of_pair_in_list = [["Apel","Buah"],["Bayam","Sayur"]]
print(dict(list_of_pair_in_list))

{'Apel': 'Buah', 'Bayam': 'Sayur'}

In [ ]:
# List yang berisi tuple dengan sepasang elemen dapat diubah menjadi dictionary
list_of_pair_in_tuple = [("Apel","Buah"),("Bayam","Sayur")]
print(dict(list_of_pair_in_tuple))

{'Apel': 'Buah', 'Bayam': 'Sayur'}

# 3. Indexing dan slicing

## 3.1 Indexing

> Posisi atas value, Python mengenal bahwa indeks pertama adalah ```0``` bukan ```1```.

<img src="https://raw.githubusercontent.com/mihoku/repository-random/master/Indexing.png" width="700"/>

In [ ]:
#contoh kita akan membuat sebuah list
int_list = [1, 2, 3, 4, 5, 0]
print(int_list)

[1, 2, 3, 4, 5, 0]

In [ ]:
# kita akan mencoba print indexing pertama dari int_list
print(int_list[0])

1

In [ ]:
# kita akan mencoba mencari indexing terakhir dari int_list
print(int_list[-1])

0

In [ ]:
int_list[-1] = 10
print(int_list[-1])

10

In [ ]:
#hal yang sama juga bisa dilakukan pada type data string
text = "PYTHON"
print(text)

PYTHON

In [ ]:
print(text[1])

Y

In [ ]:
print(text[-2])

O

In [ ]:
tuple_list = tuple(int_list)
tuple_list

(1, 2, 3, 4, 5, 10)

In [ ]:
tuple_list[-1] = 'a'

TypeError: 'tuple' object does not support item assignment

In [ ]:
set_list = set(int_list)
set_list

{1, 2, 3, 4, 5, 10}

In [ ]:
set_list[0]

TypeError: 'set' object is not subscriptable

## 3.2 Slicing

> Slicing digunakan untuk memotong dan mengambil sejumlah elemen tertentu dari sebuah data kolektif

Python membaca slicing ```int_list[start:stop:step]```.

* ```start``` : index ke berapa slicing dimulai
* ```stop``` : index ke berapa slicing berhenti. Index yang menjadi batas stop ini tidak ikut diambil
* ```step``` : Berapa jeda antar elemen yang diambil

In [ ]:
#contoh kita akan membuat sebuah list
int_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(int_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# kita akan mencoba print slicing dari index pertama ke kedua
# ingat bahwa python memulai indexnya dari 0
# maka untuk indexing start = 0, sedangkan indexing end = 2 (excluded)
print(int_list[2:5])

[2, 3, 4]

In [ ]:
# kita akan mencoba melakukan print slicing dari index kedua, sampai akhir
print(int_list[:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# kita akan mencoba melakukan print slicing keseluruhan value, sebelum index kelima
# perhatikan interaksi yang terjadi
# bandingkan dengan slicing sebelumnya
print(int_list[:5])

[0, 1, 2, 3, 4]

In [ ]:
int_list[5:2]

[]

In [ ]:
# kita akan mencoba melakukan print slicing dengan index paling belakang, ke-1 dari list
# perhatikan interaksi yang terjadi
# bandingkan dengan slicing sebelumnya
print(int_list[-3])

7

In [ ]:
print(int_list)
# kita akan mencoba melakukan print slicing dengan index paling belakang, ke-1 dari list
# perhatikan interaksi yang terjadi
# bandingkan dengan slicing sebelumnya
print(int_list[-1::-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
print(int_list)
int_list[:-1] = [80,90,30]
print(int_list)

[0, 1, 2, 3, 4, 5, 6, 7, 80, 90, 30, 9]
[80, 90, 30, 9]

In [ ]:
# slicing pada string
s = "yosan"
print(s[4])
print(sorted(s))
print(s[::-1])

n
['a', 'n', 'o', 's', 'y']
nasoy

In [ ]:
print(ord('Y'));ord('a')

89

97

In [ ]:
tuple_list = tuple(int_list)

In [ ]:
print(tuple_list)
tuple_list[2:-1]

(80, 90, 30, 9)

(30,)

In [ ]:
tuple_baru = (12,)
type(tuple_baru)

tuple

# 4. Input dan Output

In [ ]:
# input
umur = int(input("Ketik umurmu (lalu tekan Enter): "))

print(umur*2)

# output
# print("Hai, ", nama, "!")
# print("Hai, %s!" %nama)

Ketik umurmu (lalu tekan Enter): 90
180

In [ ]:
# input
nama = input("Siapa namamu: ")
umur = int(input("Umurmu berapa? "))

# output
print("\nUmur %s adalah %d." % (nama, umur))

Siapa namamu: a
Umurmu berapa? 10

Umur a adalah 10.

 # 5. Control Structure

 Beberapa hal dasar yang perlu dipahami:
 1. ```if else``` statement.
 2. ```for``` loops.
 3. ```while``` loops.
 4. ```break```, ```continue```, dan ```pass```.

## 5.1 If else statement / conditional

> Digunakan untuk mengendalikan kode yang akan dieksekusi dengan memperhatikan pemenuhan terhadap kondisi tertentu.

```python

if condition1:
    # baris dieksekusi jika condition1 terpenuhi
elif condition2:
    # baris dieksekusi jika condition2 terpenuhi
else:
    # baris dieksekusi jika condition1 & condition2 tidak terpenuhi


```

In [ ]:
# kita akan membuat variable A
# kita akan membuat variable B
A = 200
B = 33

# kita akan mencoba membuat kondisi atas value pada variable A dan B
# kondisi 1
# jika nilai B > dari A, maka print B is greater than A
if B > A:
  print("B is greater than A")
# kondisi 2
# jika B == A, maka print B and A are equal
elif B == A:
  print("B and A are equal")
# kondisi else, diluar kondisi 1 dan 2
# jika dua kondisi sebelumnya tidak terpenuhi, maka print A is greater than B
else:
  print("A is greater than B")

A is greater than B

<img src="https://raw.githubusercontent.com/mihoku/repository-random/master/if-else.png" width="800">

In [ ]:
umur_andi = 11
tinggi_andi = 161
rekomendasi = True

# jika tinggi badan andi di atas 165 dan umur andi > 16 tahun, maka lulus tni
if umur_andi>16 and tinggi_andi>165:
  print('lulus')

# jika andi dapat rekomendasi, maka lulua
elif rekomendasi==True:
  print('lulus')

# jika tidak ada gagal
else:
  print('gagal')

lulus

## 5.2 For loops

> Digunakan untuk mengeksekusi sebuah blok kode secara berulang berdasarkan sebuah iterable.

```python
for i in iterable:
    # baris dieksekusi pada setiap loop
```

Iterable dapat berupa list, tuple, set, dictionary, string, maupun range. Kita bisa gunakan range untuk menghasilkan urutan angka secara otomatis dengan format berikut:

```range(start, finish, steps)``` seperti pada saat list slicing.

In [ ]:
# kita akan mencoba membuat for loops menggunakan range:
for i in range(1,11,2):   # > kita akan melihat i (ini merupakan element dalam range), start = 1, finish = 11, steps = 2
    print(i)              # > print seluruh i yang memenuhi kriteria dalam range diatas

In [ ]:
# kita akan mencoba membuat for loops dengan melakukan iterasi dalam list
# membuat variable list berisi nama
names = ["Alice", "Bob", "Charlie"]

for name in names:                   # > setiap nama di list names
    print("Hello, " + name + "!")    # > print nama-nama tersebut dengan format Hello, nama!, perhatikan spasi yang digunakan

In [ ]:
# contoh lainnya, membuat list dengan for loops
squares = []
for i in range(10):
    squares.append(i * i)
squares

<img src="https://raw.githubusercontent.com/mihoku/repository-random/master/for-loop.png" width="800">

In [ ]:
nama_pegawai = 'otong#utung#eteng'

# for loop print nama pegawai dan dapat gaji 100 juta
for pegawai in nama_pegawai.split('#'):
  print(f"{pegawai} dapat gaji 100 juta")

otong dapat gaji 100 juta
utung dapat gaji 100 juta
eteng dapat gaji 100 juta

---
<img src="https://raw.githubusercontent.com/mihoku/repository-random/master/latihan.png" width="300"/>

#### Buat list berisi huruf non-vokal (konsonan) dari kalimat berikut ini

In [ ]:
kalimat = "aku adalah anak gembala selalu riang senang bekerja"
huruf_vokal = ['a','i','u','e','o']

huruf_konsonan = []

# Jawaban Anda di sini
for huruf in kalimat.replace(" ",""):
  if huruf not in huruf_vokal:
    huruf_konsonan.append(huruf)

print(huruf_konsonan)

['k', 'd', 'l', 'h', 'n', 'k', 'g', 'm', 'b', 'l', 's', 'l', 'l', 'r', 'n', 'g', 's', 'n', 'n', 'g', 'b', 'k', 'r', 'j']

[output ```kondisi``` for-loop]

* huruf konsonan dan bukan spasi ```else huruf if huruf not in huruf_vokal and huruf!=' '```
* jika huruf b ditulis 'bebek' ```'bebek' if huruf=='b'```
* selain itu 'spasi atau vokal' ```else 'vokal atau spasi'```

### jika ada 3 kondisi:
[output1 if ```kondisi1``` else ```output2``` if ```kondisi2``` else ```ouput3``` for-loop]

* if ----> output if kondisi
* elif -----> else output if kondisi
* else ----> else output

### jika ada 2 kondisi:
[output1 if ```kondisi1``` else ```output2``` for-loop]

In [ ]:
konsonan = ['bebek' if huruf=='b' else huruf if huruf not in huruf_vokal and huruf!=' ' else 'vokal atau spasi'  for huruf in kalimat]
print(konsonan)

['vokal atau spasi', 'k', 'vokal atau spasi', 'vokal atau spasi', 'vokal atau spasi', 'd', 'vokal atau spasi', 'l', 'vokal atau spasi', 'h', 'vokal atau spasi', 'vokal atau spasi', 'n', 'vokal atau spasi', 'k', 'vokal atau spasi', 'g', 'vokal atau spasi', 'm', 'bebek', 'vokal atau spasi', 'l', 'vokal atau spasi', 'vokal atau spasi', 's', 'vokal atau spasi', 'l', 'vokal atau spasi', 'l', 'vokal atau spasi', 'vokal atau spasi', 'r', 'vokal atau spasi', 'vokal atau spasi', 'n', 'g', 'vokal atau spasi', 's', 'vokal atau spasi', 'n', 'vokal atau spasi', 'n', 'g', 'vokal atau spasi', 'bebek', 'vokal atau spasi', 'k', 'vokal atau spasi', 'r', 'j', 'vokal atau spasi']

[```output``` for-loop ```kondisi```]

In [ ]:
huruf_konsonan = [huruf for huruf in kalimat.replace(' ','') if huruf not in huruf_vokal]
print(huruf_konsonan)

['k', 'd', 'l', 'h', 'n', 'k', 'g', 'm', 'b', 'l', 's', 'l', 'l', 'r', 'n', 'g', 's', 'n', 'n', 'g', 'b', 'k', 'r', 'j']

## 5.3 List Comprehension

List comprehension digunakan untuk membuat ayntax for-loop menjadi lebih pendek.

**Contoh:** Kita memiliki sebuah list bernama ```a_list``` yang berisi bilangan bulat (integer).
<pre>
a_list = [1,2,3,4,5,6,7,10,11,15,17]
</pre>

Kita ingin membuat sebuah list baru, yang isinya adalah seluruh elemen dalam ```a_list``` dikalikan dua.

yang biasa kita lakukan dengan menggunakan ```for loop``` adalah seperti ini:

<pre>
new_list = []
<font color='red'>for item in a_list:</font> # iterate through a_list
    <font color='green'>new_list.append(item * 2)</font> # multiply the value by 2 and append to new_list
</pre>

In [ ]:
a_list = [1,2,3,4,5,6,7,10,11,15,17]

new_list = []
for item in a_list: # iterate through a_list
    new_list.append(item * 2) # multiply the value by 2 and append to new_list

new_list

[2, 4, 6, 8, 10, 12, 14, 20, 22, 30, 34]

Dengan list comprehension, kita bisa mengubahnya menjadi seperti ini:

In [ ]:
new_list = [item*2 for item in a_list]
new_list

[2, 4, 6, 8, 10, 12, 14, 20, 22, 30, 34]

Apabila kita ingin menambahkan kondisional, misalnya kita ingin mengambil hanya seluruh angka ganjil dari ```a_list```, maka dalam bentuk for yang konvensional perintahnya akan tertulis sebagaimana berikut:

<pre>
a_list = [1,2,3,4,5,6,7,10,11,15,17]
new_list = <font color='blue'>[]</font>

<font color='red'>for item in a_list:</font> # iterate through a_list
    <font color='green'>if item % 2 != 0:</font> # if the item is odd
        <font color='green'>new_list.append(item)</font> # append item to new_list
</pre>

In [ ]:
a_list = [1,2,3,4,5,6,7,10,11,15,17]

new_list = []
for item in a_list: # iterate through a_list
    if item % 2 != 0: # if the item is odd
        new_list.append(item) # append item to new_list

print(new_list)

[1, 3, 5, 7, 11, 15, 17]

Dengan list comprehension, maka perintahnya akan menjadi seperti ini:

In [ ]:
new_list = [item for item in a_list if item%2!=0]

print(new_list)

[1, 3, 5, 7, 11, 15, 17]

<img src = "https://scaler.com/topics/images/list-comprehenstion.webp" width="600"/>

Apabila kita ingin menambahkan kondisi lebih dari satu (if-else), misalnya kita ingin membuat list baru dari ```a_list``` yang isinya adalah ```ganjil``` dan ```genap``` sesuai elemen dalam a_list.

Jika kita menggunakan for if-else konvensional maka bentuknya seperti ini:
<pre>
a_list = [1,2,3,4,5,6,7,10,11,15,17]
new_list = <font color='blue'>[]</font>

<font color='red'>for item in a_list:</font> # iterate through a_list
    <font color='green'>if item % 2 != 0:</font> # if the item is odd
        <font color='green'>new_list.append('ganjil')</font> # append 'ganjil' to new_list
    <font color='purple'>else:
        new_list.append('genap')</font> # for even numbers, append 'genap' to new_list
</pre>

In [ ]:
a_list = [1,2,3,4,5,6,7,10,11,15,17]

new_list = []
for item in a_list: # iterate through a_list
    if item % 2 != 0: # if the item is odd
        new_list.append('ganjil') # append 'ganjil' to new_list
    else:
        new_list.append('genap') # append 'genap' to new_list

print(new_list)

['ganjil', 'genap', 'ganjil', 'genap', 'ganjil', 'genap', 'ganjil', 'genap', 'ganjil', 'ganjil', 'ganjil']

In [ ]:
new_list = ['ganjil' if item % 2 != 0 else 'genap' for item in a_list]
print(new_list)

['ganjil', 'genap', 'ganjil', 'genap', 'ganjil', 'genap', 'ganjil', 'genap', 'ganjil', 'ganjil', 'ganjil']

Dengan list comprehension, bentuknya menjadi seperti ini:

[output kondisi for-loop]

In [ ]:
new_list = ['ganjil' if item%2!=0 else 'genap' for item in a_list]

print(new_list)

['ganjil', 'genap', 'ganjil', 'genap', 'ganjil', 'genap', 'ganjil', 'genap', 'ganjil', 'ganjil', 'ganjil']

Dapat dilihat bahwa jika kondisinya (if-else) lebih dari satu, syntax conditionalnya digeser ke sebelah kiri for

---
<img src="https://raw.githubusercontent.com/mihoku/repository-random/master/latihan.png" width="300"/>

#### Buat list berisi huruf non-vokal (konsonan) dari kalimat berikut ini

In [ ]:
kalimat = "aku adalah anak gembala selalu riang senang bekerja"
huruf_vokal = ['a','i','u','e','o']

# Jawaban Anda di sini

['k', 'd', 'l', 'h', 'n', 'k', 'g', 'm', 'b', 'l', 's', 'l', 'l', 'r', 'n', 'g', 's', 'n', 'n', 'g', 'b', 'k', 'r', 'j']

## 5.4 While loops

> Digunakan untuk mengeksekusi sebuah blok kode secara berulang berdasarkan sebuah kondisi tertentu yang ditetapkan selama kondisi terpenuhi.

```python
while condition:
    # baris dieksekusi jika condition == True   
    # baris pengubah kondisi (wajib ada!)
```
Kesalahan dalam membuat kode while dapat membuat loop berjalan terus-menerus.

In [ ]:
# kita akan mencoba membuat while loops dengan kondisi, i < 5
# i kita tetapkan valuenya = 0
# setiap kali dia terpenuhi maka print(i)
# perhatikan maksud dari i += 1
i = 0
while i < 5 :
    print(i)
    i += 1         # >  jika kode semacam ini tidak diberikan, maka kondisi akan selalu True!

0
1
2
3
4

<img src="https://raw.githubusercontent.com/mihoku/repository-random/master/while-loop.png" width="800">

---
<img src="https://raw.githubusercontent.com/mihoku/repository-random/master/latihan.png" width="300"/>

#### Print lirik lagu ```Five little monkeys``` dengan menggunakan while-loop

<img src = "https://images.unsplash.com/photo-1574256707097-bbf7d49777f5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="400"/>

Lirik lagu five little monkeys
<pre>
5 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

4 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

3 little monkeys jumping on the bed.
One fell off and bumped her head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

2 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

1 little monkey jumping on the bed.
She fell off and bumped her head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â
</pre>

#### Hanya saja, di lirik yang Anda print, monyetnya ada 28!

In [ ]:
template = '''little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â
'''

# Tulis jawaban Anda di sini!
monkey =28
while monkey >0:
  if monkey==1:
    print(monkey, template.replace('monkeys', 'monkey'))
  else:
    print(monkey, template)
  monkey-=1

28 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

27 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

26 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

25 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

24 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

23 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

22 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

21 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

20 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

19 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

18 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

17 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

16 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

15 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

14 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

13 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

12 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

11 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

10 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

9 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

8 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

7 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

6 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

5 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

4 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

3 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

2 little monkeys jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkeys jumping on the bed!â

1 little monkey jumping on the bed.
One fell off and bumped his head.
Mama called the doctor and the doctor said,
âNo more monkey jumping on the bed!â

## 5.5 Materi Pengayaan: Break, continue dan pass

**Break statement:**
> menghentikan loop saat ini. Gunakan pernyataan break untuk keluar dari loop secara instan.
<details>
    
<img src="https://pynative.com/wp-content/uploads/2021/06/break-loop-in-python.png">

</details>

**Continue statement:**
> Lewati iterasi loop saat ini dan pindah ke iterasi berikutnya
<details>
    
<img src="https://pynative.com/wp-content/uploads/2021/06/python-continue-statement-in-loop.png">
    
</details>

**Pass statement:**
> Tidak melakukan apapun. Abaikan kondisi di mana itu terjadi dan lanjutkan untuk menjalankan program seperti biasa

sumber : https://pynative.com/python-break-continue-pass/

In [ ]:
# kita akan mencoba break statement
# membuat variable kota
kota = 'jakarta'

# implementasi menggunakan for loops
# atas setiap huruf di variable kota
for huruf in kota:
    print(huruf)
    # break saat menemukan huruf 'r'
    if huruf == 'r':
        break
    print("belum ketemu 'r'")
# menunjukkan kapan terjadinya break
print("Sudah ketemu!")

# dapat dilihat dari interaksi yang terjadi, saat menemukan huruf 'r'
# seketika itu for loops yang dibangun berhenti

In [ ]:
# kita akan mencoba continue statement
# menggunakan for loops
# atas setiap value dalam range start = 1, finish = 11
for i in range(1, 11):
    # jika value sama dengan 6,
    # continue iterasinya
    # tanpa melakukan print
    if i == 6:
        continue
    else:
        # diluar if statement, print i ditambahkan spasi
        print(i, end = "\n")

In [ ]:
# kita akan mencoba membuat pass statement
# menggunakan variable s sebelumnya
# menggunakan for loops
# atas setiap value pada variable s
for huruf in kota:
    # jika value sama dengan 'a', print 'Pass executed'
    if huruf == 'a':
        print('Pass executed')
        # kemudian pass
        pass
    print(huruf)
# dapat dilihat bahwa print seluruh value pada variable kota tetap berlangsung

# 6. Functions

<img src=https://files.realpython.com/media/t.74ec5430f457.png width=200 class="center">

> Blok kode terorganisir dan dapat digunakan kembali yang digunakan untuk melakukan sebuah tindakan/action.

## 6.1 Build in functions di Python

Beberapa function telah disediakan oleh python di antaranya:

|||Fungsi Bawaan|||
|--|--|--|--|--|
|abs()|delattr()|hash()|memoryview()|set()||
all()|dict()|help()|min()|setattr()|
|any()|dir()|hex()|next()|slice()|
|ascii()|divmod()|id()|object()|sorted()|
|bin()|enumerate()|input()|oct()|staticmethod()|
|bool()|eval()|int()|open()|str()|
|breakpoint()|exec()|isinstance()|ord()|sum()|
|bytearray()|filter()|issubclass()|pow()|super()|
|bytes()|float()|iter()|print()|tuple()|
|callable()|format()|len()|property()|type()|
|chr()|frozenset()|list()|range()|vars()|
|classmethod()|getattr()|locals()|repr()|zip()|
|compile()|globals()|map()|reversed()|\_\_import\_\_()|
|complex()|hasattr()|max()|round()||

In [ ]:
# fungsi range digunakan untuk membuat urutan angka dengan rentang tertentu
# urutan angka tersebut kemudian dapat diubah menjadi tipe data kolektif, misalnya list

# Akan membuat urutan angka 0-4
range_a = range(5)
# range diubah menjadi list
number_list = list(range_a)
print(number_list)

# Akan membuat urutan angka 4-10
range_b = range(4,11)
# range diubah menjadi list
number_list_b = list(range_b)
print(number_list_b)

[0, 1, 2, 3, 4]
[4, 5, 6, 7, 8, 9, 10]

In [ ]:
# fungsi input memungkinkan program menerima masukan nilai dari user, hasilnya otomatis berupa nilai string
hey=input('masukan suatu nilai:')
print(type(hey))
print(hey)

masukan suatu nilai:100
<class 'str'>
100

In [ ]:
# fungsi eval digunakan untuk mengevaluasi sebuah string dan secara otomatis merubah typenya sesuai dengan isi string tersebut

# test_str = '{"ini_dict":(100.9,14)}'
# test_str = "100"
# test_str = "100.7"
test_str = "True"

print(test_str)
print(type(test_str))
print(eval(test_str))
print(type(eval(test_str)))

True
<class 'str'>
True
<class 'bool'>

In [ ]:
#fungsi range digunakan untuk membuat list berisi nilai angka dalam rentang tertentu
int_list = range(1,10, 2)
print(list(int_list))
int_list

[1, 3, 5, 7, 9]

range(1, 10, 2)

In [ ]:
# kita akan mencoba menjumlah keseluruhan value pada int_list
print(sum(int_list))

25

In [ ]:
# kita akan mencoba mengukur nilai tertinggi dari value di int_list
print(max(int_list))

9

In [ ]:
# kita akan mencoba mengukur panjang dari int_list
print(len(int_list))
# artinya di dalam int_list terdapat 5 value

5

## 6.2 Membuat fungsi secara manual

Beberapa hal dasar yang perlu dipahami:
1. Fungsi blok dimulai dengan  kata kunci ```def``` diikuti oleh nama fungsi dan tanda kurung (())sebagai input.
2. ```Argumen``` merupakan input dari luar fungsi untuk dapat diproses oleh fungsi.
3. ```Return``` digunakan mengembalikan nilai dari proses yang dilakukan sebagai output.

def function_name(parameters):
<br>    <statement(s)></br>
    
|Komponen|Arti|
|---|---|
|def|Kata kunci yang menginformasikan Python bahwa suatu fungsi sedang didefinisikan|
|function_name|Pengidentifikasi Python yang valid yang menamai fungsi|
|parameters|Daftar parameter opsional yang dipisahkan koma yang dapat diteruskan ke fungsi|
|: |Tanda baca yang menunjukkan akhir dari header fungsi Python (nama dan daftar parameter)|
|statement(s)|Blok pernyataan Python yang valid|

In [ ]:
#contoh fungsi sederhana
def tambah_tiga(x):           # > mendefinisikan fungsi bernama tambah_tiga, argumennya x
    angka = x+3               # > angka merupakan statement yang isinya perhitungan dari variabel x +3
    print(angka)              # > keluar dari fungsi dan meneruskan isi dari variabel angka

In [ ]:
tambah_tiga(4)

7

---
<img src="https://raw.githubusercontent.com/mihoku/repository-random/master/latihan.png" width="300"/>

In [ ]:
# Buatlah fungsi untuk akar pangkat 3
def akar_tiga(x):
    .....

In [ ]:
# kita akan mencoba menghitung manual value rata-rata dari int_list
def list_mean(some_list):                       # > list_mean judul dari fungsi kita, argumennya some_list
    output = ...                                # > output itu berisikan rumus dari perhitngan value rata-rata
    return output                               # > print output menggunakan return

In [ ]:
# print hasil
print(list_mean(int_list))

In [ ]:
# kita akan mencoba menhitung selisih antara nilai tertinggi dan terendah dari int_list
def min_max(some_list):
    output = ...
    return output

In [ ]:
# print hasi;
print(min_max(int_list))

In [ ]:
# Contoh Persegi ABCD
panjang_AB = 3
lebar_CD = 2

print("Panjang Persegi:", panjang_AB)
print("Lebar Persegi:", lebar_CD)

def hitung_luas_persegi(panjang, lebar):
    luas = ...
    return luas

luas_ABCD = hitung_luas_persegi(panjang_AB, lebar_CD)
print("Luas Persegi adalah", luas_ABCD)

Panjang Persegi: 3
Lebar Persegi: 2
Luas Persegi adalah 6

## 6.3 Nilai Default

> Python memungkinkan argumen fungsi memiliki nilai default. Jika fungsi dipanggil tanpa argumen, argumen mendapatkan nilai defaultnya.

In [ ]:
#kita deklarasi sebuah fungsi untuk menghitung bea masuk dengan tarif default 10%
def bea_masuk(nilai_cif,tarif=10):
    bm = nilai_cif*tarif/100
    return bm

In [ ]:
#jika kita masukan nilai cifnya saja kita akan menggunakan tarif default yaitu 10%
bea_masuk(10000000)

In [ ]:
#jika kita masukan juga nilai tarifnya maka akan dihitung berdasarkan tarif yang diberikan
bea_masuk(1000000,5)

## 6.4 Materi Pengayaan: Docstring

> Docstring berguna untuk mendokumentasikan program agar mudah untuk dipahami dan digunakan.

In [ ]:
def function_with_pep484_type_annotations(param1: int, param2: str) -> bool:
    """Example function with PEP 484 type annotations.

    Args:
        param1: The first parameter.
        param2: The second parameter.

    Returns:
        The return value. True for success, False otherwise.

    """
#sumber : https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

In [ ]:
#mari kita coba dengan fungsi bea masuk yang tadi
def bea_masuk(nilai_cif,tarif=10):
    """ ini adalah fungsi untuk menghitung nilai bea masuk
    Args:
        nilai_cif (int): nilai pabean yang terdiri dari nilai barang, asuransi dan biaya kirim
        tarif (int)    : adalah tarif bea masuk sesuai peraturan berlaku default di 10%

    Returns:
        bm: nilai bea masuk yang ditagihkan
    """
    bm = nilai_cif*tarif/100
    return bm

In [ ]:
#kita bisa memanggil docstring dengan help
help(bea_masuk)

Help on function bea_masuk in module __main__:

bea_masuk(nilai_cif, tarif=10)
    ini adalah fungsi untuk menghitung nilai bea masuk
    Args:
        nilai_cif (int): nilai pabean yang terdiri dari nilai barang, asuransi dan biaya kirim
        tarif (int)    : adalah tarif bea masuk sesuai peraturan berlaku default di 10%

    Returns:
        bm: nilai bea masuk yang ditagihkan

In [ ]:
?bea_masuk

Signature: bea_masuk(nilai_cif, tarif=10)
Docstring:
ini adalah fungsi untuk menghitung nilai bea masuk
Args:
    nilai_cif (int): nilai pabean yang terdiri dari nilai barang, asuransi dan biaya kirim
    tarif (int)    : adalah tarif bea masuk sesuai peraturan berlaku default di 10%

Returns:
    bm: nilai bea masuk yang ditagihkan
File:      c:\users\reza\appdata\local\temp\ipykernel_356\624034340.py
Type:      function

# 6.5 Materi Pengayaan: Fungsi Lambda

In [ ]:
#contoh kita membuat fungsi multiple yaitu x*2 kita definisikan sebagai berikut
def multiple(x):
    return x*2

#jika kita buat dalam bentuk fungsi lambda maka menjadi
multiple_2 = lambda x: x*2

In [ ]:
multiple(4)

8

In [ ]:
multiple_2(4)

8

In [ ]:
#contoh lainnya
add = lambda x, y: x + y
add(1,2)

3